<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/logo/logo2.png">
    <title>Alejandria</title>

    <!-- Fonts for decorate items and images -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/3cd9e7a108.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- In order to use scrollable horizontal -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/vendor/jquery.easing.1.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/vendor/jquery.fitvids.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css"/>

    <!-- Css files from static folder -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">

</head>

<body>


<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id="headnav" style="height:60px">

    <a class="navbar-brand" href="#"><img style='height: 100%; width: 60%; object-fit: contain'
                                          src="/static/images/logo/logo4.png"></a>

    <div style="margin-left:-8%"></div>
    <div class="collapse navbar-collapse navHeaderCollapse" id="navbarSearch">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>

    <div class="collapse navbar-collapse" style="position: absolute; right: 5%;">
        <div style="margin-left:-10%"></div>
        <button class="buttonText" type="submit">About</button>
        <button class="buttonText" type="submit">Help</button>
        <button class="buttonText" type="submit">FAQs</button>
        <div style="margin-left:10%"></div>
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Sign In</button>
        <div style="margin-left:5%"></div>
        <button class="btn btn-danger my-2 my-sm-0" type="submit">Register</button>
    </div>

</nav>

<nav class="navbar sticky-top navbar-expand-lg bg-danger" style="height:40px; top:60px;">

    <div style="margin-left:5%"></div>
    <button class="buttonText2" type="submit">Home</button>
    <div style="margin-left:1%"></div>
    <button class="buttonText2" type="submit">eBooks</button>
    <div style="margin-left:1%"></div>
    <button class="buttonText2" type="submit">Best sellers</button>
    <div style="margin-left:1%"></div>
    <button class="buttonText2" type="submit">Recommended</button>
    <div style="margin-left:1%"></div>
    <button class="buttonText2" type="submit">News</button>
    <div style="margin-left:1%"></div>

    <div class="dropdown">
        <button class="buttonText2 dropdown-toggle" type="button"
                style="color:white; font-size: 14px; letter-spacing: 0.1em;"
                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
        </button>
        <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton" style="align-text:center">
            <a class="buttonText2 dropdown-item bg-danger"
               style="color:white; font-size: 14px; letter-spacing: 0.1em;"
               href="#">Help</a>
            <div class="main-hr" style="width:100%; margin-left:0%; border-top: 1px solid #B72424;"></div>
            <a class="buttonText2 dropdown-item bg-danger"
               style="color:white; font-size: 14px; letter-spacing: 0.1em;"
               href="#">Blog</a>
            <div class="main-hr" style="width:100%; margin-left:0%; border-top: 1px solid #B72424;"></div>
            <a class="buttonText2 dropdown-item bg-danger"
               style="color:white; font-size: 14px; letter-spacing: 0.1em;"
               href="#">FAQs</a>
        </div>
    </div>
</nav>

<div>
    <div class="body-structure">
        <p class="title" style="padding-top:3%">MY PURCHASE</p>
        <div class="main-hr" style="width:95%"></div>

        <div class="row">
            <div class="col" style="margin-left: 5%; width:100%;">
                <div class="info-book" id="info_book_1">
                    <img class="book-cover" src="/static/images/cover-images/book_cover.jpg" alt="Card image cap">
                    <div style="margin-left:1%;">
                        <div class="row horizontal">
                            <div class="col">
                                <p class="book-title"><a href="#">The Good Guy, by Mark Mcallister</a></p>
                            </div>
                            <div class="col">
                                <p class="text" style="display: block; text-align:right;"><span
                                        id="price_book_1">24.95</span><span>€</span></p>
                            </div>
                        </div>
                        <p class="price" id="original_price_1">24.95€</p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="gift_checkbox1">
                            <label class="custom-control-label" for="gift_checkbox1" style="color:white">This is a
                                gift</label>
                        </div>
                        <span class="score">
                            <div class="score-wrap">
                                <span class="stars-active" style="width:80%">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>

                                <span class="stars-inactive">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        </span>
                        <p class="reviews"><a href="#" style="color:white">Reviews <span class="badge badge-light"
                                                                                         style="font-size:0.7em">15</span></a>
                        </p>
                        <div style="padding-top:5%"></div>
                        <button class="icon-btn add-btn" id="button_rmv_1" onclick="rmv_books_btn1()">
                            <div class="btn-txt">Remove</div>
                        </button>
                        <span style="color:white; font-size:14px" id="quantity_book_1">1</span>
                        <button class="icon-btn add-btn" id="button_add_1" onclick="add_books_btn1()">
                            <div class="add-icon"></div>
                            <div class="btn-txt">Add</div>
                        </button>
                        <div style="padding-top:20%"></div>
                        <button class="btn btn-outline-danger my-2 my-sm-0" onclick="dlt_books_btn1()" type="submit">
                            Delete
                        </button>
                        <div style="padding-bottom:15%"></div>
                    </div>

                </div>

                <div class="info-book" id="info_book_2">
                    <img class="book-cover" src="/static/images/cover-images/book_cover2.jpg" alt="Card image cap">
                    <div style="margin-left: 1%;">
                        <div class="row horizontal">
                            <div class="col">
                                <p class="book-title"><a href="#">The Arrivals, by
                                    Lucas Lloyd</a></p>
                            </div>
                            <div class="col">
                                <p class="text"
                                   style="width:100%; display: block; text-align:right;"><span
                                        id="price_book_2">15.95</span><span>€</span></p>
                            </div>
                        </div>
                        <p class="price" id="original_price_2">15.95€</p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="gift_checkbox2">
                            <label class="custom-control-label" for="gift_checkbox2" style="color:white">This is a
                                gift</label>
                        </div>
                        <span class="score">
                            <div class="score-wrap">
                                <span class="stars-active" style="width:65%">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>

                                <span class="stars-inactive">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        </span>
                        <p class="reviews"><a href="#" style="color:white">Reviews <span class="badge badge-light"
                                                                                         style="font-size:0.7em">4</span></a>
                        </p>
                        <div style="padding-top:5%"></div>
                        <button class="icon-btn add-btn" id="button_rmv_2" onclick="rmv_books_btn2()">
                            <div class="btn-txt">Remove</div>
                        </button>
                        <span style="color:white; font-size:14px" id="quantity_book_2">1</span>
                        <button class="icon-btn add-btn" id="button_add_2" onclick="add_books_btn2()">
                            <div class="add-icon"></div>
                            <div class="btn-txt">Add</div>
                        </button>
                        <div style="padding-top:20%"></div>
                        <button class="btn btn-outline-danger my-2 my-sm-0" onclick="dlt_books_btn2()" type="submit">
                            Delete
                        </button>
                        <div style="padding-bottom:15%"></div>
                    </div>
                </div>

                <div class="info-book" id="info_book_3">
                    <img class="book-cover" src="/static/images/cover-images/book_cover3.jpg" alt="Card image cap">
                    <div style="margin-left: 1%;">
                        <div class="row horizontal">
                            <div class="col">
                                <p class="book-title" style="width:200%;"><a href="#">In the House in the Dark of the
                                    Woods,
                                    by Laird Hunt</a></p>
                            </div>
                            <div class="col">
                                <p class="text" style="display: block; text-align:right;"><span
                                        id="price_book_3">19.95</span><span>€</span></p>
                            </div>
                        </div>
                        <p class="price" id="original_price_3">19.95€</p>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="gift_checkbox3">
                            <label class="custom-control-label" for="gift_checkbox3" style="color:white">This is a
                                gift</label>
                        </div>
                        <span class="score">
                            <div class="score-wrap">
                                <span class="stars-active" style="width:90%">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>

                                <span class="stars-inactive">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        </span>
                        <p class="reviews"><a href="#" style="color:white">Reviews <span class="badge badge-light"
                                                                                         style="font-size:0.7em">7</span></a>
                        </p>
                        <button class="icon-btn add-btn" id="button_rmv_3" onclick="rmv_books_btn3()">
                            <div class="btn-txt">Remove</div>
                        </button>
                        <span style="color:white; font-size:14px" id="quantity_book_3">1</span>
                        <button class="icon-btn add-btn" id="button_add_3" onclick="add_books_btn3()">
                            <div class="add-icon"></div>
                            <div class="btn-txt">Add</div>
                        </button>
                        <div style="padding-top:20%"></div>
                        <button class="btn btn-outline-danger my-2 my-sm-0" onclick="dlt_books_btn3()" type="submit">
                            Delete
                        </button>
                        <div style="padding-bottom:15%"></div>
                    </div>
                </div>
                <div class="main-hr" style="margin-top:3%; margin-left:0%; width:100%"></div>
                <div class="row horizontal" style="margin-top:0%; margin-left:0%;">
                    <div class="col">
                        <div class="text" style="width:100%; font-size: 30px;">Total&nbsp;(<span
                                id="total_products">3</span>&nbsp;products)
                        </div>
                    </div>
                    <div class="col" style="text-align:right;">
                        <span class="text" style="font-size: 30px;" id="priceTotal">60.85</span><span
                            class="text">€</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid" style="margin-top:10%">
            <div class="row">
                <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                    <div class="MultiCarousel-inner">
                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="width: 185px;">
                            <div class="card" style="width: 11rem;">
                                <img class="card-img-top"
                                     src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title" style="padding-top:15px">Patria</h5>
                                    <p class="card-text">Fernando Aramburu</p>
                                    <p class="card-text">Preu: 24,95€</p>
                                    <a href="#" class="btn btn-primary">Afegir al carret</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-dark leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
                    <button class="btn btn-dark rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
                </div>
            </div>
        </div>
        <div style="margin-top:5%; padding-bottom:5%; width:100%; text-align: center;">
            <button class="btn btn-success my-2 my-sm-0"
                    style="margin:0 auto; display:inline-block; width:200px;"
                    type="submit">Buy now
            </button>
            <p class="text" style="font-size:12px">New client? &nbsp;<a href="#">Register here</a></p>
        </div>
        <div class="row horizontal" style="width:100%; background-color:black; margin:0; padding-bottom:2%">
            <div class="col">
                <img src="/static/images/logo/logo4.png">
            </div>
            <div class="col">
                <div class="share-button" style="text-align:right">
                    <span>Share Me</span>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- JavaScript files from static folder-->
<script src="static/js/operateBooks.js"></script>
<script src="static/js/carousel.js"></script>


</body>
