<!DOCTYPE html>

{% extends "navbar.html" %}
{% load static %}

{% block content %}

<html lang="en">
<!--    Css Files for this page     -->
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<link rel="stylesheet" href="{% static 'css/cart-page/body.css' %}">
<link rel="stylesheet" href="{% static 'css/cart-page/buttons.css' %}">
<link rel="stylesheet" href="{% static 'css/cart-page/card.css' %}">
</html>

<body style="background-color:black">

<!-- Full Body -->
<div class="container-fluid">
    <div class="row" style="margin-right:0%;margin-left:2%">

        <!-- Left Body -->
        <div class="col-9 body-structure">
            <p class="title" style="padding-top:3%">MY PURCHASE</p>

            <div class="row">
                <div class="col-11"
                     style="height:800px; overflow:auto; border-color: #d9534f; box-shadow: 0 0 4px 2px #d9534f;"
                     id="container-info-books">

                    {% for book in cart_list %}
                    <div class="info-book">
                            {% if book.thumbnail %}
                            <img href="/book/{{ book.ISBN }}" class="book-cover" src="{{ book.thumbnail.url }}" alt="Card image cap">
                            <!--TODO: Change to real book image -->
                            {% else %}
                            <img href="/book/{{ book.ISBN }}" class="book-cover" src="{% static 'no_available.jpg' %}" alt="Card image cap">
                            {% endif %}
                        <div style="margin-left:1%;">
                            <div class="row horizontal">
                                <div class="col-md-8">
                                    <p class="book-title" href="/book/{{ book.ISBN }}"><a href="/book/{{ book.ISBN }}">{{ book.title }}, {{ book.author }}</a></p>
                                </div>
                                <div class="col">
                                    <p class="text" style="text-align:right;"><span>{{ book.price }}</span>€</p>
                                </div>
                            </div>
                            <hr>
                            <hr>
                            <span class="score">
                                <div class="score-wrap">
                                    <span class="stars-active" style="width:80%">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </span>

                                    <span class="stars-inactive">
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                            </span>
                            <div class="custom-control custom-checkbox">
                                <input id="gift-checkbox-{{ book.ISBN }}" type="checkbox" class="custom-control-input" onclick="introduceUsername({{ book.ISBN }})">
                                <label for="gift-checkbox-{{ book.ISBN }}" class="custom-control-label" style="color:white">This is a
                                    gift</label>
                                <div id="gift-{{ book.ISBN }}-div" style="margin-top:20px; display:flex; flex-direction:column;"></div>
                            </div>
                            <hr>
                            <p class="reviews"><a href="/book/{{ book.ISBN }}" style="color:white">Reviews <span class="badge badge-light"
                                                                                             style="font-size:0.7em">15</span></a>
                            </p>
                            <hr>
                            <a class="btn btn-outline-danger my-2 my-sm-0"
                               href="{% url 'books:delete_product' book.ISBN %}">Delete</a>

                            <div style="padding-bottom:15%"></div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

            </div>

            <!-- List of Recommendations -->
            <div style="margin-top:10%;"></div>
            <div class="text" style="margin-left: 5%; margin-bottom: 2%">Related of books you have viewed</div>


            <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                <!--Slides-->
                <div class="carousel-inner" role="listbox">

                    <div class="row align-items-center">

                        <div class="col-md-2" style="margin-left:5%;">
                            <!-- Button left -->
                            <button class="btn btn-outline-light leftLst" href="#multi-item-example" data-slide="prev">
                                <i class="fas fa-chevron-left fa-7x"></i></button>
                            <!-- ./Button left -->
                        </div>

                        <div class="col">
                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    {% for book in books_from_cart_view_1 %}
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <div class="card" style="width: 11rem;">
                                                {% if book.thumbnail %}
                                                <img class="card-img-top" src="{{ book.thumbnail.url }}"
                                                     alt="Card image cap"> <!--TODO: Change to real book image -->
                                                {% else %}
                                                <img class="card-img-top" src="{% static 'no_available.jpg' %}"
                                                     alt="Card image cap">
                                                {% endif %}
                                                <div class="card-body"
                                                     style="background-color:black;border:1px solid white;">
                                                    <h5 class="book-title" style="padding-top:15px">{{ book.title }}</h5>
                                                    <p class="text-card" style="font-size: 14px; color:white">{{ book.author }}</p>

                                                    <p class="text-card" style="font-size: 14px; color:white">{{ book.price }}€</p>

                                                    <a class="btn btn-success" href="{% url 'books:add_product' 'cart' book.ISBN %}">
                                                        Add to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>


                            <!-- ./First slide -->

                            <!-- Second slide -->

                            <div class="carousel-item">
                                <div class="row">
                                    {% for book in books_from_cart_view_2 %}
                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <div class="card" style="width: 11rem;">
                                                {% if book.thumbnail %}
                                                <img class="card-img-top" src="{{ book.thumbnail.url }}"
                                                     alt="Card image cap"> <!--TODO: Change to real book image -->
                                                {% else %}
                                                <img class="card-img-top" src="{% static 'no_available.jpg' %}"
                                                     alt="Card image cap">
                                                {% endif %}
                                                <div class="card-body"
                                                     style="background-color:black;border:1px solid white;">
                                                    <h5 class="book-title" style="padding-top:15px">{{ book.title }}</h5>
                                                    <p class="text-card" style="font-size: 14px; color:white">{{ book.author }}</p>

                                                    <p class="text-card" style="font-size: 14px; color:white">{{ book.price }}€</p>

                                                    <a class="btn btn-success" href="{% url 'books:add_product' 'cart' book.ISBN %}">
                                                        Add to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- ./Second slide -->

                            <!-- Third slide -->
                            <div class="carousel-item">
                                <div class="row">
                                    {% for book in books_from_cart_view_3 %}

                                    <div class="col-md-4">
                                        <div class="card mb-2">
                                            <div class="card" style="width: 11rem;">
                                                {% if book.thumbnail %}
                                                <img class="card-img-top" src="{{ book.thumbnail.url }}"
                                                     alt="Card image cap"> <!--TODO: Change to real book image -->
                                                {% else %}
                                                <img class="card-img-top" src="{% static 'no_available.jpg' %}"
                                                     alt="Card image cap">
                                                {% endif %}
                                                <div class="card-body"
                                                     style="background-color:black;border:1px solid white;">
                                                    <h5 class="book-title" style="padding-top:15px">{{ book.title }}</h5>
                                                    <p class="text-card" style="font-size: 14px; color:white">{{ book.author }}</p>

                                                    <p class="text-card" style="font-size: 14px; color:white">{{ book.price }}€</p>

                                                    <a class="btn btn-success" href="{% url 'books:add_product' 'cart' book.ISBN %}">
                                                        Add to cart
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>

                            <!-- ./Third slide -->
                        </div>

                        <div class="col-md-2" style="align:center">
                            <!-- Button Right -->
                            <button class="btn btn-outline-light rightLst" href="#multi-item-example" data-slide="next">
                                <i class="fas fa-chevron-right fa-7x"></i></button>
                            <!-- ./Button Right -->
                        </div>
                    </div>

                </div>
            </div>

            <!--Bottom of the page-->
            <div style="margin-top:5%; padding-bottom:5%; width:100%; text-align: center;">
                {% if user.is_authenticated and total_items > 0 %}
                <button class="btn btn-success my-2 my-sm-0"
                        style="width:200px;"
                        type="submit"
                        id="btn_purchase"
                >Complete purchase
                </button>
                {% else %}
                <button class="btn btn-success my-2 my-sm-0"
                        style="width:200px;"
                        type="submit"
                        disabled
                >Complete purchase
                </button>
                {% endif %}
                {% if not user.is_authenticated %}
                <p class="text" style="font-size:12px">New client? &nbsp;<label class="registerBtn" id="register_bottom_btn">Register here</label></p>
                {% endif %}
            </div>
            <!-- ./Bottom of the page -->

        </div>
        <!-- ./Left Body -->

        <!-- Right Body -->
        <div class="col">

            <!-- Total Payment -->
            <div class="info-box" style="border-color: #d9534f; box-shadow: 0 0 2px 1px #d9534f;">

                <div class="row">
                    <div class="col" style="margin-left:4%">
                        <div class="text" style="font-size:20px">Subtotal&nbsp;(<span id="subtotal_products">{{ total_items }}
                                </span>&nbsp;<span id="items">items</span>)
                        </div>
                    </div>

                    <div class="col-4">
                        <span class="text" style="font-size:20px" id="priceSubtotal">{{ total_price }}€</span>
                    </div>
                </div>

                <form id="proceed-checkout-form">
                <div style="text-align: center; margin-bottom:2%">
                    {% if user.is_authenticated and total_items > 0 %}
                    <button class="btn btn-success my-2 my-sm-0"
                            style="width:80%;"
                            type="submit"
                            id="btn_checkout"
                    >Proceed to Checkout
                    </button>
                    {% else %}
                    <button class="btn btn-success my-2 my-sm-0"
                            style="width:80%;"
                            type="submit"
                            disabled
                    >Proceed to Checkout
                    </button>
                    {% endif %}
                </div>
                </form>
            </div>
            <!-- ./Total Payment -->

            <!-- List of books -->
            <div class="info-box">

                <div class="text" style="margin-left:4%; font-size: 16px">Users who bought books like yours also
                    liked
                    these ones
                </div>


                <div class="row" style="margin-left: 1%; margin-top:3%; margin-bottom:5%" id="container1">

                    {% for book in books_from_cart_view %}

                    <div class="col-md-5" style="margin-top:5%">
                        {% if book.thumbnail %}
                        <img class="card-img-top" src="{{ book.thumbnail.url }}" alt="Card image cap">
                        <!--TODO: Change to real book image -->
                        {% else %}
                        <img class="card-img-top" src="{% static 'no_available.jpg' %}" alt="Card image cap">
                        {% endif %}
                    </div>

                    <div class="col" style="margin-left:-6%; margin-top:5%">
                        <p class="book-title" style="font-size:16px"><a href="/book/{{ book.ISBN }}">{{ book.title }}, {{ book.author }}
                        </a></p>

                        <span class="score" style="margin-top:-5%">
                            <div class="score-wrap">
                                <span class="stars-active" style="width:72%">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </span>

                                <span class="stars-inactive">
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </span>
                            </div>
                        </span>

                        <p class="text" style="font-size: 14px">{{ book.price }}€</p>

                        <a href="{% url 'books:add_product' 'cart' book.ISBN %}" style="margin-top:-5%"
                           class="btn btn-success">Add to cart</a>


                    </div>
                    {% endfor %}
                </div>
            </div>
            <!-- ./List of books -->

        </div>
        <!-- ./Right Body -->

    </div>

</div>
<!-- ./Full Body -->


<!-- JavaScript files from static folder -->
<script src="/static/js/cart-page/operateBooks.js"></script>
<script src="/static/js/cart-page/stars.js"></script>
<script src="/static/js/cart-page/info-book.js"></script>
<script src="/static/js/cart-page/register.js"></script>
<script>
    var gifts = {};
    function introduceUsername(isbn){
        var div = document.getElementById("gift-" + isbn + "-div");
        var checkbox = document.getElementById("gift-checkbox-" + isbn);
        if (checkbox.checked){
            div.innerHTML = "<label id=\"gift-" + isbn + "-label\" style=\"color:white\"> Introduce the user you want to gift this to (must check to apply)</label>\n" +
                            "<div style=\"display:flex; flex-direction:row\">" +
                            "   <input type=\"text\" id=\"gift-" + isbn + "-username-input\" placeholder=\"Username\">" +
                            "   <button onclick=\"checkUsername(" + isbn + ")\" style=\"margin-left: 20px;\" class=\"btn btn-success my-2 my-sm-0\" type=\"submit\">Check username</button>" +
                            "</div>";
            document.getElementById("btn_checkout").disabled = true;
        }else{
            div.innerHTML = "";
            if(gifts[isbn]) {
                delete gifts[isbn];
            }
            document.getElementById("btn_checkout").disabled = false;
        }
    }

    function checkUsername(isbn){
        document.getElementById("btn_checkout").disabled = true;
        var url = "../checkUsernameGift/" + document.getElementById("gift-" + isbn + "-username-input").value + "?isbn=" + isbn;
        $.ajax({
            url: url,
            type: "GET",
            data: null,
            processData: false,
            contentType: false,
            success: function (response) {
                alert(response.message);
                document.getElementById("btn_checkout").disabled = false;
                gifts[isbn] = document.getElementById("gift-" + isbn + "-username-input").value;
            },
            error: function (response) {
                if(gifts[isbn]){
                    delete gifts[isbn];
                }
                alert(response.responseJSON.error);
            }
        });
    }

    $(document).ready(function () {

        $.ajaxSetup({
          headers: { "X-CSRFToken": '{{csrf_token}}' }
        });

        $("#btn_purchase").click(function () {
            var url = "../payment/";
            var form = $('#proceed-checkout-form')[0];
            var postData = new FormData(form);
            for (let i in gifts){
                postData.append(i, gifts[i]);
            }

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                processData: false,
                contentType: false,
                success: function (response) {
                    window.location.replace(url);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });

        $("#btn_checkout").click(function () {
            var url = "../payment/";
            var form = $('#proceed-checkout-form')[0];
            var postData = new FormData(form);
            for (let i in gifts){
                postData.append(i, gifts[i]);
            }

            $.ajax({
                url: url,
                type: "POST",
                data: postData,
                processData: false,
                contentType: false,
                success: function (response) {
                    window.location.replace(url);
                },
                error: function (response) {
                    alert(response);
                }
            });
        });

    });
</script>
<!-- ./JavaScript files from static folder -->

</body>
{% endblock %}
