<!DOCTYPE html>

{% extends "navbar.html" %}
{% load static %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alejandria</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons2.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://kit.fontawesome.com/3cd9e7a108.js" crossorigin="anonymous"></script>


<!--    <link rel="stylesheet/less" type="text/css" href="styles.less" />-->
    <script src="//cdn.jsdelivr.net/npm/less" ></script>
<!--    <link rel="stylesheet" href="{% static 'css/main.css' %}">-->

<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<!--

<div>

<div class="container">
    <div>
        <h1 style="color: #dc3545"> {{book.title}} </h1>
        <h3 style="color: white"> {{book.author}} </h3>
        <h6 style="color:white"> Category: {{book.get_primary_genre_display }}, {{book.get_secondary_genre_display}} </h6>
    </div>
    <img src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" style="float: left; height:400px; margin-top:20px">

</div>

<div>

    <p style="color: white; text-align: justify; text-justify: inter-word;">
            {{book.description}}
        </p>
</div>





</div>
-->

<div class="container" style="margin-top:3%; margin-left:7%;">
  <div class="row">
    <div class="col-12">
        <h1 style="color: #dc3545"> {{book.title}} </h1>
        <h3 style="color: white"> {{book.author}} </h3>
        <h6 style="color:white"> Category: {{book.get_primary_genre_display }}, {{book.get_secondary_genre_display}} </h6>
    </div>
    <div class="col-4">
      <img src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" style="float: left; height:400px; margin-top:20px">
    </div>
    <div class="col-8" style="margin-top:20px">
        <h3 style="color: white"> Summary: </h3>
        <p style="color:white">{{book.description}}</p>
    </div>
      <div class="container">
          <div style="margin-top:2%">
              <p style="color:white">ISBN: {{book.ISBN}}</p>
              <p style="color:white">Language: {{book.language}}</p>
              <p style="color:white">Saga: {{book.saga}}</p>
              <p style="color:white">Publication date: {{book.publication_date}}</p>
              <p style="color:white">Publisher: {{book.publisher}}</p>
              <p style="color:white">Nº pages: {{book.num_page}}</p>
              <p style="color:white">Recommended age: {{book.recommended_age}}</p>
              <p style="color:white">Price: {{book.price}}€</p>
          </div>
          <div class="row">
              <div class="col-12" style="text-align:right">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to cart</button>
              </div>
          </div>

      </div>
  </div>




    <div class="row">
        <div class="col-12">
            <div style="margin-top: 2%; border-top: 1px solid gray; border-bottom: 1px solid gray">
                <p style="margin-top: 50px; margin-bottom: 50px; margin-left: 50px; color: white"> There are no reviews for this product. </p>
            </div>
        </div>
    </div>

</div>






<!--


<div style="margin-left: 200px; margin-top: 50px;">
    <div>
        <div>
            <h1 style="color: #dc3545"> {{book.title}} </h1>
            <h3 style="color: white"> {{book.author}} </h3>
            <h6 style="color:white"> Category: {{book.get_primary_genre_display }}, {{book.get_secondary_genre_display}} </h6>
        </div>

        <img src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" style="float: left; height:400px; margin-top:20px">
        <p style="color: white; text-align: justify; text-justify: inter-word;">
            {{book.description}}
        </p>

    </div>

    <form class="form-inline my-2 my-lg-0" style="float:left; margin-left:75px">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Add to cart</button>
    </form>
</div>


-->

<!--
{% if not book_owner %}
<div style="margin-left: 200px; margin-right: 200px; margin-top: 350px; border-top: 1px solid gray; border-bottom: 1px solid gray">
    {% if review_list %}
        {% for review in review_list %}
            <div style="color: white">
                <p> {{ review.score }} / 5 </p>
                <p> {{ review.text }} </p>
            </div>
        {% endfor %}
    {% else %}
        <p style="margin-top: 50px; margin-bottom: 50px; margin-left: 50px; color: white"> There are no reviews for this product. </p>
    {% endif %}
</div>

{% else %}
<div style="margin-left: 200px; margin-right: 200px; margin-top: 100px; border-top: 1px solid gray; border-bottom: 1px solid gray">
    {% if review_list %}
        {% for review in review_list %}
            <div style="color: white">
                <p> {{ review.score }} / 5 </p>
                <p> {{ review.text }} </p>
            </div>
        {% endfor %}
    {% else %}
        <p style="margin-top: 50px; margin-bottom: 50px; margin-left: 50px; color: white"> There are no reviews for this product. </p>
    {% endif %}
</div>

{% endif %}

<h2 style="color:white; margin-top: 50px; margin-left: 25px;">Títols relacionats a la teva cerca...</h2>>
-->


<!--<h2 style="color:white; margin-left: 25px;">Títols relacionats a la teva cerca...</h2>-->


<div class="container-fluid">
	<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner" id="MultiCarouselCoincidents">
                {% for obj in book_relation%}
                    <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/{{obj.ISBN}}" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">{{obj.title}}</h5>
                            <p class="card-text">{{obj.author}}</p>
                              <p class="card-text">Preu: {{obj.price}}€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
            <button class="btn btn-primary rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
        </div>
	</div>
</div>

<script>


$(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').hover(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this);

    });

    ResCarouselSize();




    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / (incno*1.75);
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / (incno*1.75);
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / (incno*1.75);
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / (incno*1.75);
            }
            itemWidth = 180 /* distancia entre carts */
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers});
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e === 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});


</script>


<!--        <div>-->
<!--          <img src="/static/recent_books.jpg" class="img-responsive center-block d-block mx-auto" alt="centered image" style="margin-top:10px; ">-->
<!--&lt;!&ndash;             falta caption - background casa del libro &ndash;&gt;-->
<!--        </div>-->

</body>

</html>

{% endblock %}
