<!DOCTYPE html>

{% extends "navbar.html" %}
{% load static %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alejandria</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{% static 'css/review.css' %}">

    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons2.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/3cd9e7a108.js" crossorigin="anonymous"></script>


<!--    <link rel="stylesheet/less" type="text/css" href="styles.less" />-->
    <script src="//cdn.jsdelivr.net/npm/less" ></script>
<!--    <link rel="stylesheet" href="{% static 'css/main.css' %}">-->

<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body>

<div class="container" style="margin-top:3%; margin-left:7%;">
  <div class="row" style="width:150%">
    <div class="col-10">
        <h1 style="color: #dc3545"> {{book.title}} </h1>
        <h3 style="color: white"> {{book.author}} </h3>
        {% if book.get_secondary_genre_display %}
            <h6 style="color:white"> Category: {{book.get_primary_genre_display}}, {{book.get_secondary_genre_display}} </h6>
        {% else %}
            <h6 style="color:white"> Category: {{book.get_primary_genre_display}}</h6>
        {% endif %}
    </div>
    <div class="col-3">
         <div class="row">
        {% if book.thumbnail %}
            <img src="{{ book.thumbnail.url }}" style="float: left; height:400px; width:250px; margin-top:20px">
        {% else %}
            <img src="{% static 'no_available.jpg' %}" style="float: left; height:400px; margin-top:20px">
        {% endif %}
         </div>
        <div style="margin-top:5%;" >
            <a style="width:250px; margin-left:-15px;" href="{% url 'books:add_product' 'details' book.ISBN %}" class="btn btn-danger my-2 my-sm-0">Add to cart</a>
        </div>


<!--        <div class="container" style="width:260px; border: 2px solid; border-color: black;">-->
        {% if user.is_authenticated %}
        <form id="properties-form" method="POST" > {% csrf_token %}
            <div style="margin-top:5%;">
                <input style="width: 40px; height: 40px; opacity: 0;z-index:10;margin-left: 15%; position: relative;" onchange="toggleCheckbox(this)" id="desired" name="desired" type="checkbox"/>
                <span id="desired-icon" style="text-shadow:0 0 3px #f00;  margin-left:-17%; width:15%;display:inline-block; color:#141414;"><i class="fas fa-heart fa-3x"></i></span>
                <input style="width: 40px; height: 40px; opacity: 0; margin-left: 15%;z-index:10; position: relative;" onchange="toggleCheckboxBook(this)" id="readed" name="readed" type="checkbox"/>
                <span id="readed-icon" style="text-shadow:0 0 3px #80471C; margin-left:-17%; width:15%;display:inline-block; color:#141414"><i class="fas fa-book-open fa-3x"></i></span>
            </div>
        </form>
        {% endif %}


    </div>
      {% if book.description and book.description != "" %}
        <div class="col-4" style="margin-top:20px">
            <h3 style="color: white"> Summary: </h3>
            <p style="color:white">{{book.description}}</p>
        </div>
      <div class="col-4" style="margin-top:20px; position:relative; left:15%;">
      {% else %}
      <div class="col-4" style="margin-top:20px; position:relative;">
      {% endif %}

        <h3 style="color: white"> Properties: </h3>
        <p style="color:white">ISBN: {{book.ISBN}}</p>
        <p style="color:white">Language: {{book.language}}</p>
        {% if book.saga %}
          <p style="color:white">Saga: {{book.saga}}</p>
        {% endif %}
        {% if book.publication_date %}
          <p style="color:white">Publication date: {{book.publication_date}}</p>
        {% endif %}
        <p style="color:white">Publisher: {{book.publisher}}</p>
        <p style="color:white">Nº pages: {{book.num_pages}}</p>
        {% if book.recommended_age %}
          <p style="color:white">Recommended age: {{book.recommended_age}}</p>
        {% endif %}
        {% if book.discount and book.discount != 0 %}
        <p style="color:white">Price: <del>{{book.price}}€</del></p>
        <p style="color:red"><b>Discount: {{book.discount}}%!</b></p>
        <p style="color:white">New price: {{ new_price }}€ </p>
        {% else %}
        <p style="color:white">Price: {{book.price}}€</p>
        {% endif %}
    </div>

  </div>


    <div class="row">
        <div class="col-12">
            {% if review_list %}
            <div style="margin-top: 2%; border-top: 1px solid gray;">
                {% for review in review_list %}
                <div class="container" style="border-bottom: 1px solid gray;">
                    <div style="margin-left: 2px; margin-top: 15px" class="row">
                        <img style="height: 20px; width: 20px;" src="https://www.vhv.rs/dpng/d/312-3120300_default-profile-hd-png-download.png">
                        <p style="color: white; margin-left: 10px; margin-right: 65%"> {{ review.user_id.username }} </p>
                        <p style="color: white"> {{ review.date }} </p>
                    </div>
                    <div class="main row">
                        {% if review.score == 0 %}
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                        {% elif review.score == 1 %}
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                        {% elif review.score == 2 %}
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                        {% elif review.score == 3 %}
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star unchecked"></i>
                            <i class="fa fa-star unchecked"></i>
                        {% elif review.score == 4 %}
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star unchecked"></i>
                        {% elif review.score == 5 %}
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                            <i class="fa fa-star checked"></i>
                        {% endif %}
                        {% csrf_token %}
                    </div>
                    <div style="margin-left: 2px; margin-top: 15px" class="row">
                        <p style="color: white; margin-top: 10px; overflow-wrap: break-word"> {{ review.text }} </p>
                    </div>
                    {% if review.user_id.id == request.user.id %}
                    <div id="review-div-{{ review.ID }}" class="row">
                        <button style="height:40px" type="submit" class="btn btn-danger" onclick="startModifyingReview({{ review.ID }})">Modify</button>
                        <form class="form-group" id="delete-review-form" onsubmit="return onSubmitDeleteReview({{ review.ID }})">
                            <button style="margin-left: 20px; height:40px" type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% else %}
                <p style="margin-top: 50px; margin-bottom: 50px; margin-left: 50px; color: #ffffff"> There are no reviews for this product. </p>
            {% endif %}
        </div>
    </div>

</div>

<div class="container" style="margin-left: 8%; margin-top: 20px;">
    <h4 style="color: white">Have you read this book? Leave a review!</h4>
    <form class="form-group" id="review-form" post_url="review/">
        {% csrf_token %}
        <div class="main">
            <i class="fa fa-star unchecked" id="one"></i>
            <i class="fa fa-star unchecked" id="two"></i>
            <i class="fa fa-star unchecked" id="three"></i>
            <i class="fa fa-star unchecked" id="four"></i>
            <i class="fa fa-star unchecked" id="five"></i>
        </div>
        <textarea id="review-text-input" style="height: 100px; margin-top: 20px; margin-bottom: 20px;" type="text" class="form-control mr-sm-2" placeholder="Submit your review here"></textarea>
        <button type="submit" class="btn btn-danger">Submit</button>
    </form>
</div>


<!--<h2 style="color:white; margin-left: 25px;">Títols relacionats a la teva cerca...</h2>-->

<h3 class="scroll-title">You might like these related books...</h3>
<div class="container-fluid">
	<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner" id="MultiCarouselCoincidents">
                {% for obj in book_relation%}
                    <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/{{obj.ISBN}}" style="text-decoration: none; color: inherit;">
                          {% if obj.thumbnail %}
                            <img style="width: 176px;height: 265px;" class="card-img-top" src="{{ obj.thumbnail.url }}" alt="Card image cap"> <!--TODO: Change to real book image -->
                            {% else %}
                            <img style="width: 176px;height: 265px;" class="card-img-top" src= "{% static 'no_available.jpg' %}" alt="Card image cap">
                            {% endif %}
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">{{obj.title}}</h5>
                            <p class="card-text">{{obj.author}}</p>
                              <p class="card-text">Preu: {{obj.price}}€</p>
                            <a href="{% url 'books:add_product' 'details' book.ISBN %}" class="btn btn-danger my-2 my-sm-0">Add to cart</a>
                          </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
            <button class="btn btn-primary rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
        </div>
	</div>
</div>

<script>
    {% if user.is_authenticated %}
        {% if form.desired %}
            $('#desired').checked = true;
            console.log('estic true')
            $('#desired-icon').css({'color': '#dc3545'});
        {% else %}
            $('#desired').checked = false;
            $('#desired-icon').css({'color': '#141414'});
        {% endif %}

        {% if form.readed %}
            console.log('llegit');
            $('#readed').checked = true;
            $('#readed-icon').css({'color': '#80471C'});
        {% else %}
         console.log('no llegit');
            $('#readed').checked = false;
            $('#readed-icon').css({'color': '#141414'});
        {% endif %}
    {% endif %}


    function toggleCheckbox(element)
     {
       if(element.checked){
          $('#desired-icon').css({'color': '#dc3545'});
          console.log("like");
       }
       else{
          $('#desired-icon').css({'color': '#141414'});
          console.log("not like");
       }

       $('#properties-form').submit();

     }

     function toggleCheckboxBook(element)
     {
       if(element.checked){
          $('#readed-icon').css({'color': '#80471C'});
          console.log("read");
       }
       else{
          $('#readed-icon').css({'color': '#141414'});
          console.log("not read");
       }
       $('#properties-form').submit();

     }






    var rating = 0;
    var list=['one','two','three','four','five'];
    list.forEach(function(element) {
        document.getElementById(element).addEventListener("click", function(){

            for(let i=0; i < list.length; i++){
                document.getElementById(list[i]).classList.remove("checked");
                document.getElementById(list[i]).classList.add("unchecked");
            }

            for(i=0; i < list.length; i++) {
                if(list[i] !== element) {
                    document.getElementById(list[i]).classList.remove("unchecked");
                    document.getElementById(list[i]).classList.add("checked");
                }else{
                    document.getElementById(list[i]).classList.remove("unchecked");
                    document.getElementById(list[i]).classList.add("checked");
                    rating = i + 1;
                    break;
                }
            }
        });
    });

    $('#review-form').on('submit', function () {
        if(typeof {{ user.id }} == undefined){
            alert("You need to log in to leave a review");
            return false;
        }

        if({{ owned }} == false){
            alert("You need to buy the book first to review it.");
            return false;
        }

        var post_url = '../../review/';

        var form = $('#review-form')[0];
        var formData = new FormData(form);
        var book = "{{ book.ISBN }}";
        var user_id = {{ user.id }};
        formData.append('book', book);
        formData.append('user_id', user_id);
        formData.append('text', document.getElementById('review-text-input').value);
        formData.append('score', rating);
        formData.append('adding', "true");

        $.ajax({
            url: post_url,
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success:function(response){
                console.log("response");
                console.log(response.message);
                alert(response.message);
                window.location.reload();
            },
            error:function(response){
                console.log("response");
                console.log(response.responseJSON.message);
                console.log(response.status);
                alert(response.responseJSON.message);
            }
        });

        return false;
    });

    function onSubmitModifyReview(review_id, rating) {
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        var post_url = '../../review/';
        var form = $('#modify-review-form')[0];
        var formData = new FormData(form);
        formData.append('review_id', review_id);
        formData.append('text', document.getElementById('modify-review-text-input').value);
        formData.append('score', rating);
        formData.append('modifying', "true");
        formData.append('csrfmiddlewaretoken', csrf);

        $.ajax({
            url: post_url,
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success:function(response){
                console.log("response");
                console.log(response.message);
                alert(response.message);
                window.location.reload();
            },
            error:function(response){
                console.log("response");
                console.log(response.responseJSON.message);
                console.log(response.status);
                alert(response.responseJSON.message);
            }
        });

        return false;
    }

    function onSubmitDeleteReview(review_id){
        var csrf = $('input[name="csrfmiddlewaretoken"]').val();
        var post_url = '../../review/';
        var form = $('#delete-review-form')[0];
        var formData = new FormData(form);
        formData.append('review_id', review_id);
        formData.append('deleting', "true");
        formData.append('csrfmiddlewaretoken', csrf);

        $.ajax({
            url: post_url,
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success:function(response){
                console.log("success");
                console.log(response.message);
                alert(response.message);
                window.location.reload();
            },
            error:function(response){
                console.log("error");
                console.log(response.responseJSON.message);
                console.log(response.status);
                alert(response.responseJSON.message);
            }
        });

        return false;
    }

    function startModifyingReview(review_id){
        $("#review-div-" + review_id).html(
            "<div class=\"container\" style=\"margin-left: 8%; margin-top: 20px;\">\n" +
            "    <form class=\"form-group\" id=\"modify-review-form\" post_url=\"review/\">\n" +
            "        <div class=\"main\">\n" +
            "            <i class=\"fa fa-star unchecked\" id=\"modify-one\"></i>\n" +
            "            <i class=\"fa fa-star unchecked\" id=\"modify-two\"></i>\n" +
            "            <i class=\"fa fa-star unchecked\" id=\"modify-three\"></i>\n" +
            "            <i class=\"fa fa-star unchecked\" id=\"modify-four\"></i>\n" +
            "            <i class=\"fa fa-star unchecked\" id=\"modify-five\"></i>\n" +
            "        </div>\n" +
            "        <textarea id=\"modify-review-text-input\" style=\"height: 100px; margin-top: 20px; margin-bottom: 20px;\" type=\"text\" class=\"form-control mr-sm-2\" placeholder=\"Submit your review here\"></textarea>\n" +
            "        <button type=\"submit\" class=\"btn btn-danger\" onclick=\"cancelModifyingReview(" + review_id + ")\">Cancel</button>\n" +
            "        <button type=\"submit\" class=\"btn btn-danger\" onclick=\"onSubmitModifyReview(" + review_id + ", modifiedRating)\">Submit</button>\n" +
            "    </form>\n" +
            "</div>");

        var textInput = "";
        var modifiedRating = 0;
        var modifyList=['modify-one', 'modify-two', 'modify-three', 'modify-four', 'modify-five']
        modifyList.forEach(function(element) {
            document.getElementById(element).addEventListener("click", function(){
                for(let i=0; i < modifyList.length; i++){
                    document.getElementById(modifyList[i]).classList.remove("checked");
                    document.getElementById(modifyList[i]).classList.add("unchecked");
                }

                for(i=0; i < modifyList.length; i++) {
                    if(modifyList[i] !== element) {
                        document.getElementById(modifyList[i]).classList.remove("unchecked");
                        document.getElementById(modifyList[i]).classList.add("checked");
                    }else{
                        document.getElementById(modifyList[i]).classList.remove("unchecked");
                        document.getElementById(modifyList[i]).classList.add("checked");
                        modifiedRating = i + 1;
                        textInput = document.getElementById("modify-review-text-input").value;
                        $("#review-div-" + review_id).html(
                            "<div class=\"container\" style=\"margin-left: 8%; margin-top: 20px;\">\n" +
                            "    <form class=\"form-group\" id=\"modify-review-form\" post_url=\"review/\">\n" +
                            "        <div class=\"main\">\n" +
                            "            <i class=\"fa fa-star " + document.getElementById(modifyList[0]).classList.item(2) + " id=\"modify-one\"></i>\n" +
                            "            <i class=\"fa fa-star " + document.getElementById(modifyList[1]).classList.item(2) + " id=\"modify-two\"></i>\n" +
                            "            <i class=\"fa fa-star " + document.getElementById(modifyList[2]).classList.item(2) + " id=\"modify-three\"></i>\n" +
                            "            <i class=\"fa fa-star " + document.getElementById(modifyList[3]).classList.item(2) + " id=\"modify-four\"></i>\n" +
                            "            <i class=\"fa fa-star " + document.getElementById(modifyList[4]).classList.item(2) + " id=\"modify-five\"></i>\n" +
                            "        </div>\n" +
                            "        <textarea id=\"modify-review-text-input\" style=\"height: 100px; margin-top: 20px; margin-bottom: 20px;\" type=\"text\" class=\"form-control mr-sm-2\" placeholder=\"Submit your review here\"></textarea>\n" +
                            "        <button type=\"submit\" class=\"btn btn-danger\" onclick=\"cancelModifyingReview(" + review_id + "," + modifiedRating + ")\">Cancel</button>\n" +
                            "        <button type=\"submit\" class=\"btn btn-danger\" onclick=\"onSubmitModifyReview(" + review_id + "," + modifiedRating + ")\">Submit</button>\n" +
                            "    </form>\n" +
                            "</div>");
                        document.getElementById("modify-review-text-input").value = textInput;
                        break;
                    }
                }
            });
        });
    }

    function cancelModifyingReview(review_id){
        $("#review-div-" + review_id).html(
            "<button style=\"height:40px\" type=\"submit\" class=\"btn btn-danger\" onclick=\"startModifyingReview(" + review_id + ")\">Modify</button>\n" +
            "   <form class=\"form-group\" id=\"delete-review-form\" onsubmit=\"return onSubmitDeleteReview(" + review_id + ")\">\n" +
            "       <button style=\"margin-left: 20px; height:40px\" type=\"submit\" class=\"btn btn-danger\">Delete</button>\n" +
            "   </form>");
    }


$(document).ready(function () {


    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').hover(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this);

    });

    ResCarouselSize();

    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / (incno*1.75);
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / (incno*1.75);
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / (incno*1.75);
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / (incno*1.75);
            }
            itemWidth = 190 /* distancia entre carts */
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers});
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e === 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});


</script>


<!--        <div>-->
<!--          <img src="/static/recent_books.jpg" class="img-responsive center-block d-block mx-auto" alt="centered image" style="margin-top:10px; ">-->
<!--&lt;!&ndash;             falta caption - background casa del libro &ndash;&gt;-->
<!--        </div>-->

</body>

</html>

{% endblock %}
