<!DOCTYPE html>

{% extends "navbar.html" %}
{% load static %}

{% block content %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Alejandria Frequently Asked Questions</title>

  <!-- CSS Special for FAQs page -->
  <link rel="stylesheet" href="{% static 'css/faq-page/faqs.css' %}">
  <script type="text/javascript" src={% static 'js/faqs-page/faqs.js' %}>

  </script>

</head>

<body style="background-color:#141414">
  <div class="container-fluid justify-content-center my-3 p-5">
    <div class="row justify-content-center">
      <div class="col-6 mb-3">
        <h1 style="text-align: center; color: white">Hi, how can we help?</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="main">
          <div class="left"></div>
          <div class="right"></div>
          <p style="  text-align: center; color: white;">This page is refered
            to doubts and frequently asked questions about Alejandria. <br>
            We hope you can find what you are looking for, notice we classified
            in related topics the questions. <br>In case you this page might not
            help you, let us know and contact with our support team. <br>Good luck!</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10">
        <div class="accordion p-1 shadow" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="faq btn shadow-none collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  {{ category_names.0 }}
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body mr-5">
                {% for faq in list_query.0 %}
                <div class="col-12 ml-3 m-2" style="text-align:left;">
                  <h3>{{faq.question}}</h3>
                </div>
                <div class="col-12 ml-5 m-2" style="text-align:left;">
                  {% autoescape off %}
                  {{faq.answer|safe}}
                  {% endautoescape %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="faq btn shadow-none collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  {{ category_names.1 }}
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body mr-5">
                {% for faq in list_query.1 %}
                <div class="col-12 ml-3 m-2" style="text-align:left;">
                  <h3>{{faq.question}}</h3>
                </div>
                <div class="col-12 ml-5 m-2" style="text-align:left;">
                  {% autoescape off %}
                  {{faq.answer|safe}}
                  {% endautoescape %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <button class="faq btn shadow-none collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  {{ category_names.2 }}
                </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body mr-5">
                {% for faq in list_query.2 %}
                <div class="col-12 ml-3 m-2" style="text-align:left;">
                  <h3>{{faq.question}}</h3>
                </div>
                <div class="col-12 ml-5 m-2" style="text-align:left;">
                  {% autoescape off %}
                  {{faq.answer|safe}}
                  {% endautoescape %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="faq btn shadow-none collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  {{ category_names.3 }}
                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body mr-5">
                {% for faq in list_query.3 %}
                <div class="col-12 ml-3 m-2" style="text-align:left;">
                  <h3>{{faq.question}}</h3>
                </div>
                <div class="col-12 ml-5 m-2" style="text-align:left;">
                  {% autoescape off %}
                  {{faq.answer|safe}}
                  {% endautoescape %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0">
                <button class="faq btn shadow-none collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  {{ category_names.4 }}
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body mr-5">
                {% for faq in list_query.4 %}
                <div class="col-12 ml-3 m-2" style="text-align:left;">
                  <h3>{{faq.question}}</h3>
                </div>
                <div class="col-12 ml-5 m-2" style="text-align:left;">
                  {% autoescape off %}
                  {{faq.answer|safe}}
                  {% endautoescape %}
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% if admin %}
    <hr style="background-color:white;" class="my-5">
    <div class="row justify-content-center mx-5 px-5">
      <div class="col-3 mb-2">
        <h3 style="text-align: center; color: white;">Admin panel</h3>
      </div>
    </div>
    <div class="row justify-content-center mx-5 px-5">
      <div class="col-6">
        <div class="form-inline input-group">
          <div class="form-group input-group-prepend w-50">
            <label class="input-group-text w-100" for="inputGroupOp">Operation</label>
          </div>
          <select class="form-group select-op w-50" id="inputGroupOp">
            <option disabled selected>Choose...</option>
            <option value="1">Add</option>
            <option value="2">Modify</option>
            <option value="3">Delete</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <select class="faq-select w-100 h-100 mh-100" id="questionSelect">
          <option disabled selected>Select the question to modify or delete</option>
          {% for faq in list_query.0 %}
          <option value={{faq.question}}>{{faq.question}}</option>
          {% endfor %}
          {% for faq in list_query.1 %}
          <option value={{faq.question}}>{{faq.question}}</option>
          {% endfor %}
          {% for faq in list_query.2 %}
          <option value={{faq.question}}>{{faq.question}}</option>
          {% endfor %}
          {% for faq in list_query.3 %}
          <option value={{faq.question}}>{{faq.question}}</option>
          {% endfor %}
          {% for faq in list_query.4 %}
          <option value={{faq.question}}>{{faq.question}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="row mt-3 mx-5 px-5">
      <div class="col-12">
        <h4 style="color: white;">Properties</h4>
      </div>
    </div>
    <div class="row mx-5 px-5">
      <div class="col-12">
        <label for="category" style="color: white;">Category</label>
        <form>
          <div class="form-group">
            <select class="cat-select" id="category">
              <option disabled selected>Select the category...</option>
              <option value={{category_names.0}}>{{category_names.0}}</option>
              <option value={{category_names.0}}>{{category_names.1}}</option>
              <option value={{category_names.0}}>{{category_names.2}}</option>
              <option value={{category_names.0}}>{{category_names.3}}</option>
              <option value={{category_names.0}}>{{category_names.4}}</option>
            </select>
          </div>
        </form>
      </div>
    </div>
    <div class="row mx-5 px-5">
      <div class="col-12">
        <form>
          <div class="form-group">
            <label for="question" style="color: white;">Question</label>
            <textarea class="form-control" id="question" rows="1"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="row mx-5 px-5">
      <div class="col-12">
        <form>
          <div class="form-group">
            <label for="answer" style="color: white;">Answer</label>
            <textarea class="form-control" id="answer" rows="3"></textarea>
          </div>
        </form>
      </div>
    </div>
    <div class="row mx-5 px-5">
      <div class="col-9">
        <div class="form-group form-check">
          <input id="checkbox1" type="checkbox" class="form-check-input">
          <label class="form-check-label" for="exampleCheck1" style="color: white;">I am aware what this operation will cause</label>
        </div>
      </div>
      <div class="col-3 pl-5">
        <button id="apply_btn" type="submit" class="btn btn-primary" style="background-color: orange;">Apply changes</button>
      </div>
    </div>
  </div>
  {% endif %}
  </div>
</body>

</html>

{% endblock %}
