<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/images/logo/mini_logo.png">
    <title>Alejandria</title>

    <!-- Fonts for decorate items and images -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <script src="https://kit.fontawesome.com/3cd9e7a108.js" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

    <!-- In order to use scrollable horizontal -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/vendor/jquery.easing.1.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/vendor/jquery.fitvids.js"></script>

    <!-- Cool Modals and alerts-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.css"/>

    <!-- Css files from static folder -->
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/swal-forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/sweet-alert.css' %}">
  
    <!-- JavaScript static -->
    <script type="text/javascript" src="{% static 'js/sweet-alert.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/swal-forms.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/navbar.js' %}"></script>
    {% csrf_token %}

</head>

<body>


<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" id="headnav" style="height:60px">

    <a class="navbar-brand" href="/"><img style='height: 100%; width: 60%; object-fit: contain'
                                          src="/static/images/logo/logo.png"></a>


    <div class="collapse navbar-collapse navHeaderCollapse" style="margin-left:-70px" id="navbarSearch">
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="textSearch">
<!--            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->

            <div class="btn btn-outline-success my-2 my-sm-0" id = "buttonSearch">Search</div>

        </form>
    </div>

    <div class="collapse navbar-collapse" style="position: absolute; right: 5%;">
        <div style="margin-left:-10%"></div>
        <button class="buttonText" type="submit">About</button>
        <button class="buttonText" type="submit">Help</button>
        <button class="buttonText" id="faqs_btn" type="submit">FAQs</button>
        <div style="margin-left:10%"></div>
        {% if not user.is_authenticated %}
            <button class="btn btn-danger my-2 my-sm-0" id="login_btn" type="submit">Sign In</button>
            <div style="margin-left:5%"></div>
            <button class="btn btn-danger my-2 my-sm-0" id="register_btn" type="submit">Register</button>
        {% else %}
            <button class="btn btn-danger my-2 my-sm-0" id="logout_btn" type="submit">Logout</button>
        {% endif %}
            <button class="button d-none" id="forgot_btn_hidden" type="button"></button>
    </div>

</nav>

<nav class="navbar sticky-top navbar-expand-lg bg-danger" style="height:40px; top:60px;">
    <div class="col-md-11">
        <div class="row">
        <div style="margin-left:5%"></div>
        <!-- <a href="/" class="buttonText2" >Home</a> -->
        <button class="buttonText2" id="home_btn" type="submit">Home</button>
        <div style="margin-left:1%"></div>
        <a href="#" class="buttonText2">eBooks</a>
        <div style="margin-left:1%"></div>
        <a href="#" class="buttonText2">Best sellers</a>
        <div style="margin-left:1%"></div>
        <a href="#" class="buttonText2">Recommended</a>
        <div style="margin-left:1%"></div>
        <a href="/sell" class="buttonText2">Sell</a>
        <div style="margin-left:1%"></div>

        <div class="dropdown">
            <button class="buttonText2 dropdown-toggle" type="button"
                    style="color:white; font-size: 14px; letter-spacing: 0.1em;"
                    id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                More
            </button>
            <div class="dropdown-menu bg-danger" aria-labelledby="dropdownMenuButton" style="align-text:center">
                <a class="buttonText2 dropdown-item bg-danger"
                   style="color:white; font-size: 14px; letter-spacing: 0.1em;"
                   href="#">Help</a>
                <div class="main-hr" style="width:100%; margin-left:0%; border-top: 1px solid #B72424;"></div>
                <a class="buttonText2 dropdown-item bg-danger"
                   style="color:white; font-size: 14px; letter-spacing: 0.1em;"
                   href="#">Blog</a>
                <div class="main-hr" style="width:100%; margin-left:0%; border-top: 1px solid #B72424;"></div>
                <a class="buttonText2 dropdown-item bg-danger"
                   style="color:white; font-size: 14px; letter-spacing: 0.1em;"
                   href="/faqs/">FAQs</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <a href="/cart" style="color:white; text-align:right; background: transparent; border: none; text-decoration:none"><i class="fas fa-shopping-cart"></i>
        <span class="badge badge-light" id="total_items_not">0</span></a>
    </div>
</nav>

</body>



{% block content %}



{% endblock %}

<div class="row horizontal-nav" style="margin:0px;">
    <div class="col" style="margin-left: 5%;">
        <a href="#"><img src="/static/images/logo/logo.png"></a>
    </div>
    <div class="col-md-3">
        <div class="share-button">
            <span class="text">SHARE US</span>
            <a href="#"><i class="fab fa-facebook-f share-item"></i></a>
            <a href="#"><i class="fab fa-twitter share-item"></i></a>
            <a href="#"><i class="fab fa-instagram share-item"></i></a>
            <a href="#"><i class="fab fa-linkedin-in share-item"></i></a>
        </div>
    </div>
</div>