<!DOCTYPE html>


{% extends "navbar.html" %}

{% load static %}


{% block content %}

<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>Alejandria</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/color_buttons.scss' %}">-->
<!--    <link rel="stylesheet/less" type="text/css" href="styles.less" />-->
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

    <link rel="stylesheet" href="{% static 'css/card-filtre.css' %}">

    <script src="//cdn.jsdelivr.net/npm/less" ></script>
<!--    <link rel="stylesheet" href="{% static 'css/main.css' %}">-->


<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>



</head>
<body style="background-color:#141414">

<!-- Side navigation -->
<div class="sidenav" style="position:30px" >
<!--  <a href="#">About</a>-->
<!--  <a href="#">Services</a>-->
<!--  <a href="#">Clients</a>-->
<!--  <a href="#">Contact</a>-->
<!--    <div class="" style="text-align: center;margin-top:5%">-->
<!--      <button class="icon-btn add-btn">-->
<!--        <div class="add-icon"></div>-->
<!--        <div class="btn-txt">Add</div>-->
<!--      </button>-->
<!--    </div>-->
    <h2 style="margin-left: 20px; color:white">Filtering</h2>
    <form action="#">

        <h4 style="margin-left: 30px; color:white">Categories</h4>

        <input type="checkbox" style="margin-left: 30px; color:white" id="Fantasy" name="Fantasy" value="FANT">
      <label for="Fantasy"style="color:white">Fantasy</label><br>

        <input type="checkbox" style="margin-left: 30px"  id="Crime & Thriller" name="CrimeThriller" value="CRIM">
      <label for="Crime & Thriller" style="color:white">Crime & Thriller</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Fiction" name="Fiction" value="FICT">
      <label for="Fiction" style="color:white">Fiction</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Science Fiction" name="ScienceFiction" value="SCFI">
      <label for="Science Fiction" style="color:white">Science Fiction</label><br>

        <input type="checkbox" style="margin-left: 30px"  id="Horror" name="Horror" value="HORR">
      <label for="Horror" style="color:white">Horror</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Romance" name="Romance" value="ROMA">
      <label for="Romance" style="color:white">Romance</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Teen & Young Adult" name="TeenYoung" value="TEEN">
      <label for="Teen & Young Adult" style="color:white">Teen & Young Adult</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Children's Books" name="ChildrenBook" value="KIDS">
      <label for="Children's Books" style="color:white">Children's Books</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Anime & Manga" name="AnimeManga" value="ANIM">
      <label for="Anime & Manga" style="color:white">Anime & Manga</label><br>

        <h4 style="margin-left: 30px; color:white">Others</h4>

        <input type="checkbox"  style="margin-left: 30px" id="Bestsellers" name="Bestsellers" value="Bestsellers">
      <label for="Bestsellers" style="color:white" >Bestsellers</label><br>

        <input type="checkbox" style="margin-left: 30px" id="On sale" name="OnSale" value="Sale">
      <label for="On sale" style="color:white">On sale</label><br>

      <input type="submit" style="margin-left: 30px" value="Apply filters">


    </form>


</div>

<!-- Page content -->
<div class="main" style="padding-left:200px; background-color:#141414">


    <h3 style="color:#ffffff; padding:35px; padding-bottom:0px">Títols coincidents amb la teva cerca...</h3>



<div class="container-fluid">
	<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
            <div class="MultiCarousel-inner" id="MultiCarouselCoincidents">
                {% for obj in book_list%}
                    <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/{{obj.ISBN}}" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">{{obj.title}}</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: {{obj.price}}€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="btn btn-primary leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
            <button class="btn btn-primary rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
        </div>
	</div>
</div>

<h3 style="color:white; padding:25px; padding-bottom:0px">Títols relacionats a la teva cerca...</h3>

<div class="container-fluid">
	<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel1"  data-interval="1000">
            <div class="MultiCarousel-inner">
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>

                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>

                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
            </div>
            <button class="btn btn-primary leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
            <button class="btn btn-primary rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
        </div>
	</div>
</div>

<h3 style="color:white; padding:25px; padding-bottom:0px">Altres títols recomanats...</h3>

<div class="container-fluid">
	<div class="row">
		<div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel2"  data-interval="1000">
            <div class="MultiCarousel-inner">
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>

                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>

                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
                <div class="item" style="width: 185px;">
                        <div class="card" style="width: 11rem;">
                            <a href="/book/0123456789012" style="text-decoration: none; color: inherit;">
                          <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title" style="padding-top:15px">Patria</h5>
                            <p class="card-text">Fernando Aramburu</p>
                              <p class="card-text">Preu: 24,95€</p>
                            <a href="#" class="btn btn-primary">Afegir al carret</a>
                          </div>
                            </a>
                        </div>
                    </div>
            </div>
            <button class="btn btn-primary leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
            <button class="btn btn-primary rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
        </div>
	</div>
</div>

</div>





</body>

<script>

var itemsMainDiv = ('.MultiCarousel');
var itemsDiv = ('.MultiCarousel-inner');
var itemWidth = "";

//this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / (incno*1.75);
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / (incno*1.75);
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / (incno*1.75);
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / (incno*1.75);
            }
            itemWidth = 180 /* distancia entre carts */
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers});
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


$(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').hover(function () {
        var condition = $(this).hasClass("leftLst");
        if (condition)
            click(0, this);
        else
            click(1, this);

    });

    ResCarouselSize();




    $(window).resize(function () {
        ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
        var incno = 0;
        var dataItems = ("data-items");
        var itemClass = ('.item');
        var id = 0;
        var btnParentSb = '';
        var itemsSplit = '';
        var sampwidth = $(itemsMainDiv).width();
        var bodyWidth = $('body').width();
        $(itemsDiv).each(function () {
            id = id + 1;
            var itemNumbers = $(this).find(itemClass).length;
            btnParentSb = $(this).parent().attr(dataItems);
            itemsSplit = btnParentSb.split(',');
            $(this).parent().attr("id", "MultiCarousel" + id);


            if (bodyWidth >= 1200) {
                incno = itemsSplit[3];
                itemWidth = sampwidth / (incno*1.75);
            }
            else if (bodyWidth >= 992) {
                incno = itemsSplit[2];
                itemWidth = sampwidth / (incno*1.75);
            }
            else if (bodyWidth >= 768) {
                incno = itemsSplit[1];
                itemWidth = sampwidth / (incno*1.75);
            }
            else {
                incno = itemsSplit[0];
                itemWidth = sampwidth / (incno*1.75);
            }
            itemWidth = 180 /* distancia entre carts */
            $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers});
            $(this).find(itemClass).each(function () {
                $(this).outerWidth(itemWidth);
            });

            $(".leftLst").addClass("over");
            $(".rightLst").removeClass("over");

        });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
        var leftBtn = ('.leftLst');
        var rightBtn = ('.rightLst');
        var translateXval = '';
        var divStyle = $(el + ' ' + itemsDiv).css('transform');
        var values = divStyle.match(/-?[\d\.]+/g);
        var xds = Math.abs(values[4]);
        if (e === 0) {
            translateXval = parseInt(xds) - parseInt(itemWidth * s);
            $(el + ' ' + rightBtn).removeClass("over");

            if (translateXval <= itemWidth / 2) {
                translateXval = 0;
                $(el + ' ' + leftBtn).addClass("over");
            }
        }
        else if (e == 1) {
            var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
            translateXval = parseInt(xds) + parseInt(itemWidth * s);
            $(el + ' ' + leftBtn).removeClass("over");

            if (translateXval >= itemsCondition - itemWidth / 2) {
                translateXval = itemsCondition;
                $(el + ' ' + rightBtn).addClass("over");
            }
        }
        $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
        var Parent = "#" + $(ee).parent().attr("id");
        var slide = $(Parent).attr("data-slide");
        ResCarousel(ell, Parent, slide);
    }

});


</script>

<!--{% block javascript %}-->
<!--<script>-->
<!--    /*-->
<!--    On focus out on input nickname,-->
<!--    call AJAX get request to check if the nickName-->
<!--    already exists or not.-->
<!--    */-->
<!--    $(document).ready(function () {-->
<!--    console.log("hola");-->
<!--    $.ajax({-->
<!--            type: 'GET',-->
<!--            url: 'get/ajax/books',-->
<!--            success: function (response) {-->
<!--                console.log("hola1");-->
<!--                console.log(response);-->

<!--            },-->
<!--            error: function (response) {-->
<!--                console.log("hola2");-->
<!--                console.log(response);-->

<!--            }-->
<!--        })-->


<!--})-->
<!--</script>-->


<!--{% endblock javascript %}-->






</html>


{% endblock %}