<!DOCTYPE html>

{% extends "navbar.html" %}

{% load static %}

{% block content %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Alejandria</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
    <link rel="stylesheet" href="{% static 'css/card-filtre.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/search-page/checkbox.css' %}">

    <script src="/static/js/home-page/carrousel.js"></script>

    <script src="//cdn.jsdelivr.net/npm/less"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


</head>
<body style="background-color:black">

<div class="container-fluid" style="padding-left: 0;">

    <div class="row">

        <div class="col-3">

            <!-- Side navigation -->
            <div class="sidenav">

                <h2 style="text-align:center; color: white;">Filtering</h2><br>

                <form action="#">

                    <h4 style="margin-left: 10%; color:white">Categories</h4>

                    <input class="checkbox-round" id="Fantasy" name="Fantasy" type="checkbox" value="FANT"/>
                    <label class="label-text" for="Fantasy">Fantasy</label>
                    <br>

                    <input class="checkbox-round" type="checkbox" id="Crime & Thriller" name="CrimeThriller" value="CRIM">
                    <label for="Crime & Thriller" class="label-text">Crime & Thriller</label><br>

                    <input class="checkbox-round" type="checkbox" id="Fiction" name="Fiction" value="FICT">
                    <label for="Fiction" class="label-text">Fiction</label><br>

                    <input class="checkbox-round" type="checkbox" id="Science Fiction" name="ScienceFiction" value="SCFI">
                    <label for="Science Fiction" class="label-text">Science Fiction</label><br>

                    <input class="checkbox-round" type="checkbox" id="Horror" name="Horror" value="HORR">
                    <label for="Horror" class="label-text">Horror</label><br>

                    <input class="checkbox-round" type="checkbox" id="Romance" name="Romance" value="ROMA">
                    <label for="Romance" class="label-text">Romance</label><br>

                    <input class="checkbox-round" type="checkbox" id="Teen & Young Adult" name="TeenYoung" value="TEEN">
                    <label for="Teen & Young Adult" class="label-text">Teen & Young Adult</label><br>

                    <input class="checkbox-round" type="checkbox" id="Children's Books" name="ChildrenBook" value="KIDS">
                    <label for="Children's Books" class="label-text">Children's Books</label><br>

                    <input class="checkbox-round" type="checkbox" id="Anime & Manga" name="AnimeManga" value="ANIM">
                    <label for="Anime & Manga" class="label-text">Anime & Manga</label><br><br>

                    <h4 style="margin-left: 10%; color:white;">Others</h4>

                    <input class="checkbox-round" type="checkbox" id="Bestsellers" name="Bestsellers" value="Bestsellers">
                    <label for="Bestsellers" class="label-text">Bestsellers</label><br>

                    <input class="checkbox-round" type="checkbox" id="On sale" name="OnSale" value="Sale">
                    <label for="On sale" class="label-text">On sale</label><br><br>

                    <div style="margin-bottom:15%; width:100%; text-align:center; align:center; display:block;">
                        <input type="submit" class="btn btn-outline-success" value="Apply filters">
                    </div>
                </form>
            </div>
        </div>


        <div class="col-9" style="margin-bottom: 3%">

            <!-- Page content -->
            <div class="main">

                <h3 style="color:#ffffff; padding:35px; padding-bottom:0px">Your search</h3>

                {% if book_list %}
                <div class="container-fluid">
                    <div class="row">
                        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
                            <div class="MultiCarousel-inner" id="MultiCarouselCoincidents">
                                {% for obj in book_list%}
                                <div class="item" style="width: 185px;">
                                    <div class="card" style="width: 11rem;">
                                        <a href="/book/{{obj.ISBN}}" style="text-decoration: none; color: inherit;">
                                            {% if obj.thumbnail %}
                                            {% if obj.discount != 0 %}
                                            <div class="tag">ON SALE!</div>
                                            {% endif %}
                                            <img style="width: 176px;height: 265px;" class="card-img-top" src="{{ obj.thumbnail.url }}" alt="Card image cap">
                                            <!--TODO: Change to real book image -->
                                            {% else %}
                                            {% if obj.discount != 0 %}
                                            <div class="tag">ON SALE!</div>
                                            {% endif %}
                                            <img style="width: 176px;height: 265px;" class="card-img-top" src="{% static 'no_available.jpg' %}"
                                                 alt="Card image cap">

                                            {% endif %}
                                            <div class="card-body">
                                                <h5 class="card-title" style="padding-top:15px">{{obj.title}}</h5>
                                                <p class="card-text">Fernando Aramburu</p>
                                                <p class="card-text">Preu: {{obj.price}}€</p>
                                                <a href="#" class="btn btn-danger my-2 my-sm-0">Add to cart</a>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
                            <button class="btn btn-primary rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
                        </div>
                    </div>
                </div>
                {% else %}
                <h3 style="color:white; padding:25px; padding-bottom:0px; text-align: center">There are no results</h3>
                {% endif %}


                {% if promotion_books %}
                <h3 style="color:#ffffff; padding:35px; padding-bottom:0px">On sale!</h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel6" data-interval="1000">
                            <div class="MultiCarousel-inner" id="MultiCarouselCoincidents6">
                                {% for obj in promotion_books %}
                                <div class="item" style="width: 185px;">
                                    <div class="card" style="width: 11rem;">
                                        <a href="/book/{{obj.ISBN}}" style="text-decoration: none; color: inherit;">

                                            {% if obj.thumbnail %}
                                            <div class="tag">ON SALE!</div>
                                            <img style="width: 176px;height: 265px;" class="card-img-top" src="{{ obj.thumbnail.url }}" alt="Card image cap">
                                            <!--TODO: Change to real book image -->
                                            {% else %}
                                            <div class="tag">ON SALE!</div>
                                            <img style="width: 176px;height: 265px;" class="card-img-top" src="{% static 'no_available.jpg' %}"
                                                 alt="Card image cap">
                                            {% endif %}
                                            <div class="card-body">
                                                <h5 class="card-title" style="padding-top:15px">{{obj.title}}</h5>
                                                <p class="card-text">Fernando Aramburu</p>
                                                <p class="card-text">Preu: {{obj.price}}€</p>
                                                <a href="#" class="btn btn-danger my-2 my-sm-0">Add to cart</a>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
                            <button class="btn btn-primary rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
                        </div>
                    </div>
                </div>
                {% endif %}


                {% if recommended_books %}

                <h3 style="color:white; padding:25px; padding-bottom:0px">Other recommended books...</h3>
                <div class="container-fluid">
                    <div class="row">
                        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel2" data-interval="1000">
                            <div class="MultiCarousel-inner">
                                {% for obj in recommended_books %}
                                <div class="item" style="width: 185px;">
                                    <div class="card" style="width: 11rem;">
                                        <a href="/book/{{obj.ISBN}}" style="text-decoration: none; color: inherit;">
                                            {% if obj.thumbnail %}

                                            {% if obj.discount != 0 %}
                                            <div class="tag">ON SALE!</div>
                                            {% endif %}
                                            <img style="width: 176px;height: 265px;" class="card-img-top" src="{{ obj.thumbnail.url }}" alt="Card image cap">
                                            <!--TODO: Change to real book image -->
                                            {% else %}
                                            {% if obj.discount != 0 %}
                                            <div class="tag">ON SALE!</div>
                                            {% endif %}
                                            <img style="width: 176px;height: 265px;" class="card-img-top" src="{% static 'no_available.jpg' %}"
                                                 alt="Card image cap">
                                            {% endif %}
                                            <div class="card-body">
                                                <h5 class="card-title" style="padding-top:15px">{{obj.title}}</h5>
                                                <p class="card-text">Fernando Aramburu</p>
                                                <p class="card-text">Preu: {{obj.price}}€</p>
                                                <a href="#" class="btn btn-danger my-2 my-sm-0">Add to cart</a>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary leftLst"><i class="fas fa-chevron-left fa-7x"></i></button>
                            <button class="btn btn-primary rightLst"><i class="fas fa-chevron-right fa-7x"></i></button>
                        </div>
                    </div>
                </div>

                {% endif %}

            </div>
        </div>
    </div>

</div>

</body>

</html>


{% endblock %}