<!DOCTYPE html>


{% extends "navbar.html" %}

{% load static %}


{% block content %}

<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>Alejandria</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link rel="stylesheet" href="{% static 'css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/color_buttons.scss' %}">-->
<!--    <link rel="stylesheet/less" type="text/css" href="styles.less" />-->
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

    <link rel="stylesheet" href="{% static 'css/card-filtre.css' %}">

    <script src="//cdn.jsdelivr.net/npm/less" ></script>
<!--    <link rel="stylesheet" href="{% static 'css/main.css' %}">-->


<!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>
<body style="background-color:#141414">

<!-- Side navigation -->
<div class="sidenav" style="position:30px" >
<!--  <a href="#">About</a>-->
<!--  <a href="#">Services</a>-->
<!--  <a href="#">Clients</a>-->
<!--  <a href="#">Contact</a>-->
<!--    <div class="" style="text-align: center;margin-top:5%">-->
<!--      <button class="icon-btn add-btn">-->
<!--        <div class="add-icon"></div>-->
<!--        <div class="btn-txt">Add</div>-->
<!--      </button>-->
<!--    </div>-->
    <h2 style="margin-left: 20px; color:white">Filtering</h2>
    <form action="/action_page.php">

        <h4 style="margin-left: 30px; color:white">Categories</h4>

        <input type="checkbox" style="margin-left: 30px; color:white" id="Fantasy" name="vehicle1" value="Bike">
      <label for="Fantasy"style="color:white">Fantasy</label><br>

        <input type="checkbox" style="margin-left: 30px"  id="Crime & Thriller" name="vehicle1" value="Bike">
      <label for="Crime & Thriller" style="color:white">Crime & Thriller</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Fiction" name="vehicle1" value="Bike">
      <label for="Fiction" style="color:white">Fiction</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Science Fiction" name="vehicle1" value="Bike">
      <label for="Science Fiction" style="color:white">Science Fiction</label><br>

        <input type="checkbox" style="margin-left: 30px"  id="Horror" name="vehicle1" value="Bike">
      <label for="Horror" style="color:white">Horror</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Romance" name="vehicle1" value="Bike">
      <label for="Romance" style="color:white">Romance</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Teen & Young Adult" name="vehicle1" value="Bike">
      <label for="Teen & Young Adult" style="color:white">Teen & Young Adult</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Children's Books" name="vehicle1" value="Bike">
      <label for="Romance" style="color:white">Romance</label><br>

        <input type="checkbox" style="margin-left: 30px" id="Anime & Manga" name="vehicle1" value="Bike">
      <label for="Anime & Manga" style="color:white">Anime & Manga</label><br>

        <h4 style="margin-left: 30px; color:white">Others</h4>

        <input type="checkbox"  style="margin-left: 30px" id="Bestsellers" name="vehicle1" value="Bike">
      <label for="Bestsellers" style="color:white" >Bestsellers</label><br>

        <input type="checkbox" style="margin-left: 30px" id="On sale" name="vehicle1" value="Bike">
      <label for="On sale" style="color:white">On sale</label><br>

      <input type="submit" style="margin-left: 30px" value="Apply filters">


    </form>


</div>

<!-- Page content -->
<div class="main" style="padding-left:200px; background-color:#141414">

    <div class="row">


        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>


         <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>


        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>


        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>

        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>


        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>


        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>


        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>

        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>

        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>

        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>

        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>

        <div class="item" style="padding-top: 10px; padding-right: 20px">
            <div class="card" style="width: 11rem;">
              <img class="card-img-top" src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="padding-top:15px">Patria</h5>
                <p class="card-text">Fernando Aramburu</p>
                  <p class="card-text">Preu: 24,95€</p>
                <a href="#" class="btn btn-primary">Afegir al carret</a>
              </div>
            </div>
        </div>











    </div>

</div>



</body>
</html>


{% endblock %}