<!DOCTYPE html>

{% extends "navbar.html" %}
{% load static %}

{% block content %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alejandria</title>

<!--    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>-->
<!--    <script src="https://kit.fontawesome.com/3cd9e7a108.js" crossorigin="anonymous"></script>-->



<!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->


<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
    <!-- popper.js -->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>-->


<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->


    <link rel="stylesheet" href="{% static 'css/buttons2.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
<!--    <link rel="stylesheet" href="{% static 'css/card.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/form-sell.css' %}">
    <!-- Css files from static folder -->


    <script src="//cdn.jsdelivr.net/npm/less" ></script>


</head>
<body>



{% if messages %}
  {% for msg in messages %}
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{msg.message}}
    </div>
  {% endfor %}
{% endif %}

<!--<div class="signup-container" style="margin:auto; margin-top:50px">
  <div style="margin:auto;padding-right:30px;">
    <img src="https://imagessl6.casadellibro.com/a/l/t5/16/9788490667316.jpg" style="width:110%">
  </div>
  <div class="right-container" style="width:auto">
    <form method="POST" enctype = "multipart/form-data"> {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Next" />
</form>

    </header>
    <footer>
      <div class="set">
        <button id="next">Next</button>
      </div>
    </footer>
  </div>
</div>-->


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
<!--                <strong>{{ error }}</strong>-->
                <strong>Hubo un problema en el campo "{{ field.name }}". {{ error|escape }}</strong>
<!--                <strong>{{ error|escape }}</strong>-->
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog" >
  <div class="modal-dialog" style="max-width: 900px;">
    <!-- Modal content-->
    <div class="modal-content" style="background:#343a40; color:white">
      <div class="modal-header">
          <h4 style="left:0px" class="modal-title">Terms and Conditions</h4>
        <button style="color:red;" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h3>1. PURCHASE CONDITIONS</h3>
          <p>Please read the Purchase Conditions carefully before placing an order for products online through the
              Platform.</p>
          <h4>1.1 WHEN THE PRESENT PURCHASE CONDITIONS APPLY</h4>
            <p>These Purchase Conditions shall apply to all offers and contracts related to the sale and delivery of the
                Products by us.</p>
          <h4>1.2 PRODUCTS</h4>
            <p>Please note that limited edition or limited production Products may have additional restrictions, such as
                limiting the number of Products a consumer can order. Such additional restrictions will be brought to
                your attention through the Platform.
                All Products displayed on the Platform are subject to availability. This means that, although we strive
                for our Platform to reflect the availability of stock, it is possible that some of the Products that
                appear on it are no longer available for sale.</p>

            <h3>2 REQUIREMENTS TO ENTER A CONTRACT WITH ALEJANDRIA</h3>
                      <p>To buy Products through the Website, you must be 16 years of age or older.
            You can only place orders through the Platform if you are a consumer, not a retailer or reseller.
            The information provided to us in the application or order must be accurate and complete.</p>

          <h4>2.1 Conservation of the title</h4>
          <p>All Products will remain the property of Alejandría until the amounts accrued on the occasion of the contract
              have been paid in full. The Products may not be the object of sale, disposition or encumbrance before full
              ownership of the same is transferred in their favor.</p>
          <h4>2.2 PRICE</h4>
          <p>The prices indicated include VAT (IVA). Prices are indicated in euros (EUR). Alejandría reserves the right to make
              price changes prior to placing an order.
              We reserve the right to modify, limit or end any special offer or discount, at any time.</p>
          <h4>2.3 METHODS OF PAYMENT</h4>
          <p>Payment will be made through the different options offered in the purchase section, consisting of a payment
              by credit / debit card or by PayPal.</p>

            <h4>2.4 BILLING</h4>
          <p>When we so decide, or when we are obliged to do so under applicable law, we will issue or make the
              appropriate invoice available to you, reserving the right to issue such invoices; You hereby agree to such
              billing form.</p>
          <h4>2.5 DELIVERY</h4>
          <p>The delivery policy is governed by the electronic delivery of the purchased ebook, which can also be
              downloaded from the platform if you are registered and have logged in.</p>
          <h4>2.6 Withdrawal and Returns Policy</h4>
          <p>No type of refund is applied, once the purchase is made, it cannot be refunded.</p>
          <h3>3. USE OF THE PLATFORMA</h3>
          <h4>3.1 Modifications to these Conditions of Use</h4>
          <p>We can make changes to these Terms of Use at any time, if we consider it reasonably necessary (including
              for security, legal or regulatory reasons). We will inform you of such changes as soon as possible (either
              by communicating the changes at the time of registering and accessing the Platform, either by sending the
              appropriate notification using the contact information provided, or by any other means that we consider
              appropriate. ). In some circumstances, we may need to download the latest version of the Platform and / or
              accept a new version of these Terms of Use before continuing to use it. Continued use of the Platform
              constitutes acceptance of the new, modified or updated conditions.</p>
          <h4>3.2 Minors</h4>
          <p>You must be 16 years of age or older to access or use the Platform.</p>
          <h4>3.3 User Provided Content</h4>
          <p>You declare that you know that all the information, data and other materials that users upload, publish,
              transmit, view or facilitate through the Platform, including the information shared with or provided by
              other users through the Platform (hereinafter, the "Content Provided by the User"), are the sole
              responsibility of the user from whom it comes or who has created such content. This means that the
              responsibility for all User Provided Content that you upload, post, transmit, display or provide through
              the Platform will be yours, and not ours.
                We do not control the User Provided Content that is posted, and consequently, the accuracy, integrity or
              quality of the User Provided Content is not guaranteed. Additionally, User Provided Content is for informational
              purposes only, and is not intended to substitute for medical advice, diagnosis or treatment. You acknowledge that
              by using the Platform you are exposed to User Provided Content that may be offensive,
              indecent or objectionable.
              We are not responsible for the Content Provided by the User, nor for the loss or damage that may arise from it or the
              use made of it or relying on it.
              By uploading, publishing, transmitting, displaying or making available the Content Provided by the User through the
              Platform, you will be acknowledging:

            <li> That you are the owner of all rights contained in the User Provided Content;</li>

            <li> That it has waived all moral rights that may correspond to said User Provided Content, including the right to be
              identified as the author thereof, among others;</li>

            <li> That you have the right to make use of such User Provided Content in accordance with these Terms of Use;</li>

            <li> That all the Content Provided by the User that is published is accurate, does not violate these Conditions of Use,
              does not constitute an infringement or violation of the terms of a contract or agreement that binds you
              today or that could bind you in the future , does not imply a breach of the applicable legislation, and
              is not harmful to any person or entity;</li>

            <li> You are at least 16 years old.</li></p>

            <h3>4. OTHER PROVISIONS</h3>

            <h4>4.1 HOW CAN YOU CONTACT US?</h4>

            <p>If you have any questions or comments about the Platform or the Alejandría Terms and Conditions, or in the
              unlikely event that you want to make a complaint, please do not hesitate to contact our Customer Service
              through the Help section of the Platform.</p>
            <h4>4.2 DATA PROTECTION</h4>
            <p>Alejandría respects the privacy of individuals who access and use the Platform. For more details on the way we
              use cookies, the type of information we collect (how and for what purpose) or the way we use your data and
              under what circumstances we disclose it, you can visit our Privacy Statement and Cookie Policy , which are
              part of these Alejandría Terms and Conditions.
                By placing your order, you are giving your consent for us to collect, use, store and process your personal
              data in accordance with our Privacy Statement.</p>
        </div>
      <div class="modal-footer">
        <button type="button" style="color:white; background:#dc3545;" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div id="promotionModal" class="modal fade" role="dialog" >
  <div class="modal-dialog" style="max-width: 35%;">
    <!-- Modal content-->
    <div class="modal-content" style="background:#343a40; color:white">
      <div class="modal-header">
          <h4 style="left:0px" class="modal-title">Terms and Conditions</h4>
        <button style="color:red;" type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

          <div class="card" style="background-color: #963434; margin-left: 15%; margin-right:15%; margin-top:2%;">
             <div class="card-horizontal" >
                 <div class="card-body" style="color:white;" >
                     <div class="row">
                         <div class="column">
                            <h3 class="card-title">CODE</h3>
                         </div>
                         <div class="column">
                            <h5>50 %</h5>
                            <h5>Redeemed</h5>
                         </div>
                         <div class="column">
                            <h5>price</h5>
                            <h5>Total</h5>
                         </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>


        </div>
      <div class="modal-footer">
        <button type="button" style="color:white; background:#dc3545;" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="signup-container" style="margin:auto; margin-top:50px">
  <div style="margin:auto;padding-right:30px;">
    <img id="blah" style="width:110%" src="{% static 'no_available.jpg' %}" />
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#promotionModal">Add promo code</button>
  </div>
  <div class="right-container" style="width:auto">
    <header>
      <form method="POST" enctype = "multipart/form-data"> {% csrf_token %}
      <h1>Add a book to Alejandria</h1>
<div class="set">
        <div class="pets-name">
          <label for="pets-name">* Title</label>
            <input id="pets-name" name="title" placeholder="Title of book" type="text"/>
        </div>
        <div class="pets-breed">
          <label for="publi_date">Publication date</label>
            <input style="width: 204px;" id="publi_date" placeholder="DD/MM/YYYY" name="publication_date" type="date"/>
        </div>
</div>
      <div class="set">
        <div class="pets-breed">
          <label for="author">* Author</label>
            <input id="author" placeholder="Anonymous" name="author" type="text"/>
        </div>
        <div class="pets-birthday">
          <label for="price">* Price</label>
            <input id="price" name="price" placeholder="12.99" type="number"/>
        </div>
      </div>
      <div class="set">
        <div class="pets-gender">
          <label for="isbn">* ISBN</label>
            <input id="isbn" name="ISBN" placeholder="0123456789012" type="number"/>
        </div>
        <div class="pets-gender">
          <label for="saga">Saga</label>
            <input id="saga" name="saga" placeholder="Saga of book" type="text"/>
        </div>
      </div>

        <div class="set">
        <div class="pets-gender">
          <label for="language">* Language</label>
            <input id="language" name="language" placeholder="Spanish" type="text"/>
        </div>
        <div class="pets-gender">
          <label for="publisher">* Publisher</label>
            <input id="publisher" name="publisher" placeholder="Publisher of book" type="text"/>
        </div>
      </div>
          <div class="set">
      <div class="pets-name">
        <label for="numpages">* Nº Pages</label>
          <input id="numpages" name="num_pages" placeholder="100" type="number"/>
      </div>
               <div class="pets-birthday">
      <label for="recommended_age">Recommended age</label>
                   <input id="recommended_age" name="recommended_age" placeholder="Adult" type="text"/>
    </div>
      </div>


      <div class="pets-name" style="padding-top:20px;padding-bottom:20px;">
<!--          <button id="pets-upload">-->
<!--            <i class="fas fa-camera-retro"></i>-->
<!--          </button>-->
<!--          <input type="file" id="thumbnail" name="thumbnail" accept="image/jpeg, image/png">-->
          <label for="thumbnail">* Cover image</label>
          <input style="border:0px" id="thumbnail" type='file' name="thumbnail" accept="image/jpeg, image/png" onchange="readURL(this);" />


        </div>

       <div class="pets-name" style="padding-top:20px;padding-bottom:20px;">
<!--          <button id="pets-upload">-->
<!--            <i class="fas fa-camera-retro"></i>-->
<!--          </button>-->
<!--          <input type="file" id="thumbnail" name="thumbnail" accept="image/jpeg, image/png">-->
          <label for="file">* File eBook</label>
          <input id="file" style="border:0px;" type='file' name="eBook" accept="application/pdf" />


        </div>


      <div class="pets-weight">
        <label for="horror-p">* Primary genre</label>
        <div class="radio-container" style="padding-left: 4%">
          <div class="row">
              <input id="horror-p" name="primary_genre" type="radio" value="HORR"/>
            <label for="horror-p">Horror</label>
              <input id="romance-p" name="primary_genre" type="radio" value="ROMA"/>
            <label for="romance-p">Romance</label>
              <input id="crime-p" name="primary_genre" type="radio" value="CRIM"/>
            <label for="crime-p">Crime</label>
              <input id="scfi-p" name="primary_genre" type="radio" value="SCFI"/>
            <label for="scfi-p">Sci-fi</label>
              <input id="fantasy-p" name="primary_genre" type="radio" value="FANT"/>
            <label for="fantasy-p">Fantasy</label>
              <input id="fiction-p" name="primary_genre" type="radio" value="FICT"/>
            <label for="fiction-p">Fiction</label>
              <input id="teen-p" name="primary_genre" type="radio" value="TEEN"/>
            <label for="teen-p">Teen</label>
              <input id="children-p" name="primary_genre" type="radio" value="KIDS"/>
            <label for="children-p">Children</label>
              <input id="anime-p" name="primary_genre" type="radio" value="ANIM"/>
            <label for="anime-p">Anime</label>
              <input id="art-p" name="primary_genre" type="radio" value="ARTS"/>
            <label for="art-p">Art</label>
              <input id="biography-p" name="primary_genre" type="radio" value="BIOG"/>
            <label for="biography-p">Biography</label>
              <input id="food-p" name="primary_genre" type="radio" value="FOOD"/>
            <label for="food-p">Food</label>
              <input id="history-p" name="primary_genre" type="radio" value="HIST"/>
            <label for="history-p">History</label>
              <input id="dictionary-p" name="primary_genre" type="radio" value="DICT"/>
            <label for="dictionary-p">Dictionary</label>
              <input id="health-p" name="primary_genre" type="radio" value="HEAL"/>
            <label for="health-p">Health</label>
              <input id="humor-p" name="primary_genre" type="radio" value="HUMO"/>
            <label for="humor-p">Humor</label>
              <input id="sport-p" name="primary_genre" type="radio" value="SPOR"/>
            <label for="sport-p">Sport</label>
              <input id="travel-p" name="primary_genre" type="radio" value="TRAV"/>
            <label for="travel-p">Travel</label>
              <input id="petry-p" name="primary_genre" type="radio" value="POET"/>
            <label for="petry-p">Petry</label>
              <input id="other-p" name="primary_genre" type="radio" value="OTHR"/>
            <label for="other-p">Others</label>
          </div>
        </div>
      </div>

      <div class="pets-weight" style="padding-top:20px;padding-bottom:20px;">
        <label for="horror-s">Secondary genre</label>
        <div class="radio-container" style="padding-left: 4%">
          <div class="row">
              <input id="horror-s" name="secondary_genre" type="radio" value="HORR"/>
            <label for="horror-s">Horror</label>
              <input id="romance-s" name="secondary_genre" type="radio" value="ROMA"/>
            <label for="romance-s">Romance</label>
              <input id="crime-s" name="secondary_genre" type="radio" value="CRIM"/>
            <label for="crime-s">Crime</label>
              <input id="scfi-s" name="secondary_genre" type="radio" value="SCFI"/>
            <label for="scfi-s">Sci-fi</label>
              <input id="fantasy-s" name="secondary_genre" type="radio" value="FANT"/>
            <label for="fantasy-s">Fantasy</label>
              <input id="fiction-s" name="secondary_genre" type="radio" value="FICT"/>
            <label for="fiction-s">Fiction</label>
              <input id="teen-s" name="secondary_genre" type="radio" value="TEEN"/>
            <label for="teen-s">Teen</label>
              <input id="children-s" name="secondary_genre" type="radio" value="KIDS"/>
            <label for="children-s">Children</label>
              <input id="anime-s" name="secondary_genre" type="radio" value="ANIM"/>
            <label for="anime-s">Anime</label>
              <input id="art-s" name="secondary_genre" type="radio" value="ARTS"/>
            <label for="art-s">Art</label>
              <input id="biography-s" name="secondary_genre" type="radio" value="BIOG"/>
            <label for="biography-s">Biography</label>
              <input id="food-s" name="secondary_genre" type="radio" value="FOOD"/>
            <label for="food-s">Food</label>
              <input id="history-s" name="secondary_genre" type="radio" value="HIST"/>
            <label for="history-s">History</label>
              <input id="dictionary-s" name="secondary_genre" type="radio" value="DICT"/>
            <label for="dictionary-s">Dictionary</label>
              <input id="health-s" name="secondary_genre" type="radio" value="HEAL"/>
            <label for="health-s">Health</label>
              <input id="humor-s" name="secondary_genre" type="radio" value="HUMO"/>
            <label for="humor-s">Humor</label>
              <input id="sport-s" name="secondary_genre" type="radio" value="SPOR"/>
            <label for="sport-s">Sport</label>
              <input id="travel-s" name="secondary_genre" type="radio" value="TRAV"/>
            <label for="travel-s">Travel</label>
              <input id="petry-s" name="secondary_genre" type="radio" value="POET"/>
            <label for="petry-s">Petry</label>
              <input id="other-s" name="secondary_genre" type="radio" value="OTHR"/>
            <label for="other-s">Other</label>
          </div>
        </div>
      </div>

      <div class="pets-breed">
        <label for="description">Description</label>
        <textarea  id="description" name="description" placeholder="Place here the description of book" type="text" style="padding: 2%;height:200px; width:100%;"></textarea>
      </div>

        <input type="checkbox" style="vertical-align:middle;" id="terms" name="terms">
          <label for="terms"> I accept the <a style="cursor: pointer;" data-toggle="modal" data-target="#myModal"><b><u>terms and conditions</u></b></a></label>

        <div class="set" style="float: right;">
        <input type="submit" value="Save" />
        </div>
</form>
    </header>
  </div>
</div>


</body>

<script>
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

</script>
{% endblock %}
</html>