<!DOCTYPE html>
{% extends "navbar.html" %}
{% load static %}

{% block content %}

<html lang="en">
</html>
<head>
  <meta charset="UTF-8">

    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
    {% csrf_token %}
</head>
<body>

<div class="container">
    <div class="main-body" style="margin-top: 15%">

          <!-- /Breadcrumb -->

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card" id="mainCard">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="{{ user.avatar.url }}" id="avatar-2" class="rounded-circle" width="150" height="150">
                    <input id="avatar-field" name="avatar" class="d-none" type="file" required>
                    <div class="mt-3">
                      <h4>{{ user.username }}</h4>
                      <p class="text-secondary mb-1">{{ user.name }}</p>
                      <p class="text-muted font-size-sm">{{ user.user_address.city }} , {{ user.user_address.zip }}</p>
                      <button class="btn btn-danger" id="edit_btn">Edit Profile</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card mb-3" id="profile">
                  <center style="margin-top: 2%">
                      <h5 class="card-title">Profile</h5>
                  </center>
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Username</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_username">
                      {{ user.username }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_name">
                      {{ user.name }} {{ user.last_name }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Email</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_email">
                      {{ user.email }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Street</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_street1">
                      {{ user.user_address.street }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">City</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_city1">
                      {{ user.user_address.city }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Country</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_country1">
                      {{ user.user_address.country }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Zip Code</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_zip1">
                      {{ user.user_address.zip }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card" id="tastes">
              <center style="margin-top: 2%">
                  <h5 class="card-title">Tastes</h5>
              </center>
                <div class="card-body" style="margin-top: 2%;">
                      <div class="row">
                        <div class="col-sm-4">
                          <h6 class="mb-0">Taste 1</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" id="id_taste1">
                          {{ user.get_genre_preference_1_display }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-4">
                          <h6 class="mb-0">Taste 2</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" id="id_taste2">
                          {{ user.get_genre_preference_2_display }}
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-4">
                          <h6 class="mb-0">Taste 3</h6>
                        </div>
                        <div class="col-sm-6 text-secondary" id="id_taste3">
                          {{ user.get_genre_preference_3_display }}
                        </div>
                      </div>

                </div>
              </div>
            </div>


            <div class="col-md-8">
              <div class="card mb-3" id="facturation">
                  <center style="margin-top: 2%">
                      <h5 class="card-title">Facturation</h5>
                  </center>

                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Street</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_street2">
                      {{ user.fact_address.street }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">City</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_city2">
                      {{ user.fact_address.city }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Country</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_country2">
                      {{ user.fact_address.country }}
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Zip Code</h6>
                    </div>
                    <div class="col-sm-9 text-secondary" id="id_zip2">
                      {{ user.fact_address.zip }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

</body>
{% endblock %}
