.body-structure{
    margin-right: 5%;
    margin-left: 5%;
    background-color: black;
}

.horizontal{
    display: flex;
    flex-direction: row;
}

.title{
    color:white;
    font-size: 30px;
    width: auto;
    height: auto;
    text-align: center;
}

.info-total{
    margin-right: 5%;
    width: 100%;
}

.info-book{
    margin-top: 3%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.book-cover{
    width:30%;
}

.price{
    color: white;
    font-size: 14px;
}

.book-title{
    color: white;
    font-size: 18px;
}

.score {
    display: block;
    font-size: 15px;
    position: relative;
    overflow: hidden;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 15px;
}

.score .stars-active {
    color: white;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}