/* more and less */

.main-hr {
  width: 90%;
  margin-left: 5%;
  border: none;
  border-top: 1px solid white;
}
.icon-btn {
  width: 25px;
  height: 25px;
  border: 1px solid #cdcdcd;
  background: transparent;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: width 0.2s ease-in-out;
}
.add-btn:hover {
  width: 100px;
}
.add-btn::before,
.add-btn::after {
  transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 2px;
  width: 5px;
  top: calc(50% - 1px);
  background: red;
}
.add-btn::after {
  right: 7px;
  overflow: hidden;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn::before {
  left: 7px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.icon-btn:focus {
  outline: none;
}
.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  color: white;
  font-size: 14px;
}
.add-btn:hover::before,
.add-btn:hover::after {
  width: 2px;
  border-radius: 2px;
}
.add-btn:hover .btn-txt {
  opacity: 1;
}
.add-icon::after,
.add-icon::before {
  transition: all 0.2s ease-in-out;
  content: "";
  position: absolute;
  height: 10px;
  width: 1px;
  top: calc(50% - 5px);
  background: red;
  overflow: hidden;
}
.add-icon::before {
  left: 11px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.add-icon::after {
  right: 11px;
  border-t1op-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.add-btn:hover .add-icon::before {
  left: 8px;
  height: 2px;
  top: calc(50% - 1px);
}
.add-btn:hover .add-icon::after {
  right: 8px;
  height: 2px;
  top: calc(50% - 1px);
}

/*---------------------------------------------------------------------------------*/