body {
    background: #141414;
}

.page-holder {
  background-image: url("https://www.worldwidehuntingbooks.com/images/upload//carousel_1_1.jpg?v=1587488604");
}

.bg-textt {
  background-color: rgba(0,0,0, 0.65); /* Black w/opacity/see-through */
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}