/* Design of the buttons (FAQs, About, etc.)*/

.buttonText {
  width: fit-content;
  height: fit-content;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  background-color: transparent;
  border:none;
}
.buttonText:hover {
  color: #00DC17;
  text-decoration: none;
