/*  Select hover for firefox   */
select option:checked,
select option:hover {
    box-shadow: 0 0 10px 100px grey inset;
}

/*  Select hover for chrome   */
select:focus > option:checked {
    background: grey !important;
}
.body-structure{
    background-color: black;
    /*#162221;*/
}

.body-right{
    background-color: black;
}

.title{
    color:white;
    font-weight: bold;
    font-size: 30px;
    width: auto;
    height: auto;
    text-align: center;
}

.info-total{
    margin-right: 5%;
    width: 100%;
}

.info-book{
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    border:1px solid white
}

.info-box{
    margin-top: 30%;
    width: 100%;
    border:1px solid white
}

.horizontal{
    position:absolute;
    right: 0;
    left: 0;
    margin-left: 20%;
    margin-right: 2%;
}

.book-cover{
    width:20%;
}

.price{
    color: white;
    font-size: 20px;
    margin-top: 30%;
}

.reviews{
    color: white;
    font-size: 20px;
}

.book-title{
    color: blue;
    font-size: 22px;
}

.text{
    color: white;
    font-size: 22px;
}

.score {
    display: block;
    font-size: 15px;
    position: relative;
    overflow: hidden;
    margin-top:10%;
}

.score-wrap {
    display: inline-block;
    position: relative;
    height: 15px;
}

.score .stars-active {
    color: #ff9f01;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.score .stars-inactive {
    color: #ff9f01;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
    /* overflow: hidden; */
}

#recommend-list {
  margin: auto;
}
.bx-viewport {
  height: 50px !important;
  padding: 0 30px;
  box-sizing: border-box;
  text-align: center;
}

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 150px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: 200px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.body{
    background-color: #292b2c;
}

.share-item{
}

.share-item:hover{
    color: white;
}