/*  Border line   */

.main-hr {
  width: 90%;
  margin-left: 5%;
  border: none;
  border-top: 1px solid white;
}

select {
   padding: 0 0 0 20px;
}

.btn-drop {
  width: fit-content;
  height: fit-content;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  line-height: 45px;
  position: relative;
  text-decoration: none;
  color: #FFFFFF;
  background-color: transparent;
  border:none;
}

.btn-txt {
  opacity: 0;
  transition: opacity 0.2s;
  color: white;
  font-size: 14px;
}

